<h1>Editing clone_item_type</h1>

<%= form_for(@clone_item_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :original_item_id %><br />
    <%= f.text_field :original_item_id %>
  </p>
    <p>
    <%= f.label :prefix_code %><br />
    <%= f.text_field :prefix_code %>
  </p>
   <p>
    <%= f.label :production_extension %><br />
    <%= f.text_field :production_extension %>
  </p>

  <p>
    <%= f.label :core_number %><br />
    <%= f.select( :core_number,   { 'False'=> "0",  'True' => "1" } ) %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @clone_item_type %> |
<%= link_to 'Back', clone_item_types_path %>