<% content_for :head_additions do -%>
        <%=  stylesheet_link_tag 'item_manager.css' %>
        <%= javascript_include_tag  'item_manager.js' %>
        <%= javascript_include_tag  'dynamic_department_categories.js' %>
<% end  -%>




<div style="width:300px;margin-left:auto;margin-right:auto;text-align: center;font-size: 16px;">Clone Item Types:</div>

<%= link_to 'Item Manager', :controller => 'item_manager' %><br/><br/>
<%= link_to 'New clone_item_type', new_clone_item_type_path %><br/><br/>


<table>
  <tr>
    <th>Image</th>
     <th>id</th>
    <th>Original item Id</th>
    <th>Name</th>
    <th>Location</th>
    <th>Production Extension</th>
    <th>Core Number</th>
  </tr>

  <% @clone_item_types.each do |clone_item_type| %>
        <tr>
          <td><%= image_tag( '/images/item_thumbnails/' + Item.find(clone_item_type.original_item_id).PictureName,:size => "100x100" )  %></td>
          <td><%= h clone_item_type.id  %></td>
          <td><%=h clone_item_type.original_item_id %></td>
          <td><%=h clone_item_type.name %></td>
          <td><%=h clone_item_type.location %></td>
          <td><%=h clone_item_type.production_extension %></td>
          <td><%=h clone_item_type.core_number %></td>
          <td><%= link_to 'Show', clone_item_type %></td>
          <td><%= link_to 'Edit', edit_clone_item_type_path(clone_item_type) %></td>
          <td><%= link_to 'Destroy', clone_item_type, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
  <% end %>
</table>

<br />
