<h1>New Clone Item Type</h1>
Clone Item Types represent a style of product. Example: Sticker, Car Tag, Canvas Tote, etc. These are made so that items can be created to be like them, using the "Clone Item Type" as the model for creating a new item for RMS.


<%= form_for(@clone_item_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :original_item_id %><br />
    <%= f.text_field :original_item_id %>
  </p>
  <p>
    <%= f.label :prefix_code %><br />
    <%= f.text_field :prefix_code %>
  </p>
  <p>
    <%= f.label :production_extension %><br />
    <%= f.text_field :production_extension %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>



<%= link_to 'Back', clone_item_types_path  if controller.controller_name == 'clone_item_types'  %>