
<div class="checkout_review">
        <div class="checkout_review_header"><%= render(:partial => "purchases/checkout_important_message") %></div>
        <div class="checkout_review_box"><%=    render(:partial => "customers/show" )  -%> </div>
        <div class="checkout_review_box"><%=    render(:partial => "ship_tos/show"  ) -%></div>
        <div class="checkout_review_box"><%=    render(:partial => "quote_tender_entries/show"  ) -%>
        <%=    render(:partial => "ship_tos/show_shipping_service"  ) -%></div>

	<table width="850" cellspacing="1" cellpadding="1" border="1" summary="">
	    <tbody>

	            <% if @customer && @customer.PriceLevel > 0 %>
                    <%= render(:partial => "cart/display_cart_contents_wholesale")%>
							<% if @purchase %>
										<% if @purchase.incomplete_symbiont %>
							                     <%= render(:partial => "cart/please_complete_order")  %>
										<% else %>
												  <%= render(:partial => "cart/cart_bottom_totals_wholesale")  %>
										<% end %>
							<% end %>

            <% else %>
                     <%= render(:partial => "cart/display_cart_contents")%>
					 <% if @purchase %>
					 				<% if @purchase.incomplete_symbiont %>
                                                                                                <%= render(:partial => "cart/please_complete_order") %>
                                                                          <% else %>
										 		<%= render(:partial => "cart/cart_bottom_totals")  %>
                                                                          <% end %>
					<% end %>
            <% end %>



	    </tbody>
	</table>


</div>



