<% item =  Item.find(purchases_entry.item_id)  %>
<% quantity = purchases_entry.QuantityOnOrder %>

<div class="floating-row">
                  <div class="floating-td">
                                    <%=   image_tag purchases_entry.item.image_url( purchases_entry.item.default_master_department_id , 'item_thumbnails/','x'  ),:size => '80x80'  %>
                                    <%=  quantity   %>
                  </div>

</div>






  <% if @oldd %>

			<% item =  Item.find(purchases_entry.item_id)  %>
			<% quantity = purchases_entry.QuantityOnOrder %>


					      <tr id="<%= "purchases_entry_" + purchases_entry.id.to_s %>">

                                    <%  if @show_delete %>
					                <td  class="purchases_entry_delete">
					                            		<%=  link_to(image_tag("/images/buttons/delete.gif",:border => 0), {:action =>"delete_purchases_entry",:purchases_entry_id => purchases_entry.id} ) %>
					        		</td>
                                     <% end %>

					                <td  class="purchases_entry_master_image">
														<%=   image_tag purchases_entry.item.image_url( purchases_entry.item.default_master_department_id , 'item_thumbnails/','x'  ),:size => '80x80'  %>
					        		</td>
					                <td  class="purchases_entry_slave_image">
					        		</td>


					                <td  class="purchases_entry_quantity">

										<% unless controller.controller_name == 'purchases'  %>
															  <%= p.hidden_field :id  ,:index => nil%>
 															<%= p.text_field :QuantityOnOrder ,:index => nil ,:size => 2 , :value => number_with_precision(purchases_entry.QuantityOnOrder,:precision => 0)   %>

					            		<%  else  %>
														<%=  quantity   %>
										<%  end  %>
								    </td>

					                <td  class="purchases_entry_itemlookupcode"><%= item.ItemLookupCode %>  </td>

					                <td  class="purchases_entry_description">


					               <div style="float:left;width:240px;">
					            				Description:<%= item.Description %>	<br />
					            		</div>



					                <%= 'Dimensions:' if item.dimensions != '' %> <%= item.dimensions %><br />

					                <%= link_to image_tag('/images/buttons/view_details.gif', :border => 0), :controller  => "specsheet", :purchases_entry_id => purchases_entry.id  unless controller.controller_name == 'purchases' %>



					                 </td>

					                 <td  class="purchases_entry_full_unit_price">
					                                <div  id="full_unit_price_<%= purchases_entry.id %>">
					                                                <%= item.full_unit_price(@customer)  %>
					                                </div>
					                </td>
					                 <td  class="purchases_entry_full_extended_price">
					                                  <div  id="full_extended_price_<%= purchases_entry.id %>">
					                                                <%=   number_with_precision(  purchases_entry.full_extended_price(@customer,item) ,:precision => 2 )  %>
					                                   </div>
					                  </td>

					      </tr>
   <% end %>


