

<div class="checkout_review_header"><%= render(:partial => "purchases/checkout_important_message") %></div>

<div id="checkout_review_container">

            <div class="checkout_review_box"><%=    render(:partial => "customers/show" )  -%> </div>
            <div class="checkout_review_box"><%=    render(:partial => "ship_tos/show"  ) -%></div>
            <div class="checkout_review_box"><%=    render(:partial => "quote_tender_entries/show"  ) -%>
              <%=    render(:partial => "ship_tos/show_shipping_service"  ) -%></div>





  <table width="850" cellspacing="1" cellpadding="1" border="1" summary="">
    <tbody>

    <% if @customer && @customer.PriceLevel > 0 %>
        <%= render(:partial => "cart/display_cart_contents_wholesale")%>
        <% if @purchase %>
            <% if @purchase.incomplete_symbiont %>
                <%= render(:partial => "cart/please_complete_order")  %>
            <% else %>
                <%= render(:partial => "cart/cart_bottom_totals_wholesale")  %>
            <% end %>
        <% end %>

    <% else %>
        <%= render(:partial => "cart/display_cart_contents")%>
        <% if @purchase %>
            <% if @purchase.incomplete_symbiont %>
                <%= render(:partial => "cart/please_complete_order") %>
            <% else %>
                <%= render(:partial => "cart/cart_bottom_totals")  %>
            <% end %>
        <% end %>
    <% end %>



    </tbody>
  </table>










</div>










<div class="checkout_review_options">
  <script type="text/javascript">
      function waitButton() {
          console.log("waitButton Pressed");
          $('complete_order').hide();
          $('please_wait_message').show();
      }
  </script>
  <%= link_to( image_tag("/images/buttons/complete_order.gif",:border => 0, :id => "complete_order") , {:controller => 'purchases', :action => 'complete_order'},:onclick => 'waitButton()'  )   %><br /><br />
  <img style="display:none;" id="please_wait_message" src="/images/buttons/please_wait.gif" alt="" />
  <%= link_to( image_tag("/images/buttons/back_to_cart.gif",:border => 0) , {:controller => 'cart' } )    %><br /><br />
  <%= link_to( image_tag("/images/buttons/cancel_order.gif",:border => 0) , {:controller => 'purchases', :action => 'cancel_order'} )   %><br />
</div>










<%#= render(:partial => "purchases/checkout_shared_info")%>

<% if @old %>



<div class="checkout_review">
  <div class="checkout_review_header"><%= render(:partial => "purchases/checkout_important_message") %></div>




  <div class="row">
    <div class="col-xs-6 col-md-6">.col-xs-6 .col-md-6</div>
    <div class="col-xs-6 col-md-6">.col-xs-6 .col-md-6</div>
    <div class="col-xs-6 col-md-6">.col-xs-6 .col-md-6</div>
    <div class="col-xs-6 col-md-6">.col-xs-6 .col-md-6</div>
  </div>




  <div class="checkout_review_box"><%=    render(:partial => "customers/show" )  -%> </div>
  <div class="checkout_review_box"><%=    render(:partial => "ship_tos/show"  ) -%></div>
  <div class="checkout_review_box"><%=    render(:partial => "quote_tender_entries/show"  ) -%>
    <%=    render(:partial => "ship_tos/show_shipping_service"  ) -%></div>









  <table width="850" cellspacing="1" cellpadding="1" border="1" summary="">
    <tbody>

    <% if @customer && @customer.PriceLevel > 0 %>
        <%= render(:partial => "cart/display_cart_contents_wholesale")%>
        <% if @purchase %>
            <% if @purchase.incomplete_symbiont %>
                <%= render(:partial => "cart/please_complete_order")  %>
            <% else %>
                <%= render(:partial => "cart/cart_bottom_totals_wholesale")  %>
            <% end %>
        <% end %>

    <% else %>
        <%= render(:partial => "cart/display_cart_contents")%>
        <% if @purchase %>
            <% if @purchase.incomplete_symbiont %>
                <%= render(:partial => "cart/please_complete_order") %>
            <% else %>
                <%= render(:partial => "cart/cart_bottom_totals")  %>
            <% end %>
        <% end %>
    <% end %>



    </tbody>
  </table>


</div>


    <% end %>














