<div class="checkout_review_header"><%= render(:partial => "purchases/checkout_important_message") %></div>


<div class="purchases_checkout_review_information">
<%=    render(:partial => "customers/show" )  -%>
<%=    render(:partial => "ship_tos/show"  ) -%>
<%=    render(:partial => "quote_tender_entries/show"  ) -%>
<%=    render(:partial => "ship_tos/show_shipping_service"  ) -%>
</div>
 <br>


 <div class="swipe_instructions">Swipe on table below to see details <%= image_tag "/images/icons/swipe-left.gif" %> <br></div>

<%# if @sss %>
<table class="responsive" style="width: 240px;">

  <tbody><tr>
    <th  class="purchases_entry_master_image">Item</th>
    <th  class="purchases_entry_slave_image">Design</th>
    <th  class="purchases_entry_quantity">Quantity</th>
    <th  class="purchases_entry_itemlookupcode">Item lookup code</th>
    <th  class="purchases_entry_symbiont_description">Description</th>
    <th  class="purchases_entry_full_unit_price">Unit price:</th>
    <th  class="purchases_entry_full_extended_price">Extended price</th>
  </tr>
  <% if  @purchases_entries %>
      <% @purchases_entries.each do |purchases_entry|   %>
          <%  if purchases_entry.opposite_entry == false  %>
              <%= render(:partial => "purchases_entries/purchases_entry",:locals => { :purchases_entry => purchases_entry } ) %>
          <%  else  %>
              <% if purchases_entry.master_entry == true %>
                  <%= render(:partial => "purchases_entries/purchases_entry_symbiont",:locals => { :purchases_entry => purchases_entry } ) %>
              <%  end  %>
          <% end %>
      <% end %>
  <% end %>

  </tbody></table>
  <%# end %>

<br>
<br>

<div class="checkout_review_options">
  <script type="text/javascript">
      function waitButton() {
          console.log("waitButton Pressed");
          $('complete_order').hide();
          $('please_wait_message').show();
      }
  </script>
  <%= link_to( "Complete Order" , {:controller => 'purchases', :action => 'complete_order'}, :class => "btn btn-success btn-show",:onclick => 'waitButton()'  )   %><br /><br />
  <img style="display:none;" id="please_wait_message" src="/images/buttons/please_wait.gif" alt="" />
  <%= link_to( "Back to Cart" , {:controller => 'cart' }, :class => "btn btn-default btn-show" )    %><br /><br />
  <%= link_to( "Cancel Order" , {:controller => 'purchases', :action => 'cancel_order'}, :class => "btn btn-default btn-show" )   %><br />
</div>