<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @catalog.name %>
</p>

<p>
  <b>Description:</b>
  <%= @catalog.description %>
</p>

<p>
  <b>Category ids:</b>
  <%= @catalog.category_ids %>
</p>

<p>
  <b>Category ids:</b>
  <%= @catalog.category_ids_with_header %>
</p>


<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
