<h1>Listing purchases</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Store</th>
    <th>Time</th>
    <th>Closed</th>
    <th>Comment</th>
    <th>Customer</th>
    <th>Ship to</th>
    <th>Depositoverride</th>
    <th>Deposit</th>
    <th>Tax</th>
    <th>Total</th>
    <th>Lastupdated</th>
    <th>Taxable</th>
    <th>Sales rep</th>
    <th>Referencenumber</th>
    <th>Shippingchargeonorder</th>
    <th>Shippingchargeoverride</th>
    <th>Shipping service</th>
    <th>Shippingtrackingnumber</th>
    <th>Shippingnotes</th>
    <th>Website</th>
    <th>A</th>
    <th>Recruiter a</th>
    <th>Affiliate paid</th>
    <th>Recruiter paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.id %></td>
    <td><%= purchase.store_id %></td>
    <td><%= purchase.Time %></td>
    <td><%= purchase.Closed %></td>
    <td><%= purchase.Comment %></td>
    <td><%= purchase.customer_id %></td>
    <td><%= purchase.ship_to_id %></td>
    <td><%= purchase.DepositOverride %></td>
    <td><%= purchase.Deposit %></td>
    <td><%= purchase.Tax %></td>
    <td><%= purchase.Total %></td>
    <td><%= purchase.LastUpdated %></td>
    <td><%= purchase.Taxable %></td>
    <td><%= purchase.SalesRepID %></td>
    <td><%= purchase.ReferenceNumber %></td>
    <td><%= purchase.ShippingChargeOnOrder %></td>
    <td><%= purchase.ShippingChargeOverride %></td>
    <td><%= purchase.shipping_service_id %></td>
    <td><%= purchase.ShippingTrackingNumber %></td>
    <td><%= purchase.ShippingNotes %></td>
    <td><%= purchase.website_id %></td>
    <td><%= purchase.a_id %></td>
    <td><%= purchase.recruiter_a_id %></td>
    <td><%= purchase.affiliate_paid %></td>
    <td><%= purchase.recruiter_paid %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
