<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @purchase.id %>
</p>

<p>
  <b>Store:</b>
  <%= @purchase.store_id %>
</p>

<p>
  <b>Time:</b>
  <%= @purchase.Time %>
</p>

<p>
  <b>Closed:</b>
  <%= @purchase.Closed %>
</p>

<p>
  <b>Comment:</b>
  <%= @purchase.Comment %>
</p>

<p>
  <b>Customer:</b>
  <%= @purchase.customer_id %>
</p>

<p>
  <b>Ship to:</b>
  <%= @purchase.ship_to_id %>
</p>

<p>
  <b>Depositoverride:</b>
  <%= @purchase.DepositOverride %>
</p>

<p>
  <b>Deposit:</b>
  <%= @purchase.Deposit %>
</p>

<p>
  <b>Tax:</b>
  <%= @purchase.Tax %>
</p>

<p>
  <b>Total:</b>
  <%= @purchase.Total %>
</p>

<p>
  <b>Lastupdated:</b>
  <%= @purchase.LastUpdated %>
</p>

<p>
  <b>Taxable:</b>
  <%= @purchase.Taxable %>
</p>

<p>
  <b>Sales rep:</b>
  <%= @purchase.sales_rep_id %>
</p>

<p>
  <b>Referencenumber:</b>
  <%= @purchase.ReferenceNumber %>
</p>

<p>
  <b>Shippingchargeonorder:</b>
  <%= @purchase.ShippingChargeOnOrder %>
</p>

<p>
  <b>Shippingchargeoverride:</b>
  <%= @purchase.ShippingChargeOverride %>
</p>

<p>
  <b>Shipping service:</b>
  <%= @purchase.shipping_service_id %>
</p>

<p>
  <b>Shippingtrackingnumber:</b>
  <%= @purchase.ShippingTrackingNumber %>
</p>

<p>
  <b>Shippingnotes:</b>
  <%= @purchase.ShippingNotes %>
</p>

<p>
  <b>Website:</b>
  <%= @purchase.website_id %>
</p>

<p>
  <b>A:</b>
  <%= @purchase.a_id %>
</p>

<p>
  <b>Recruiter a:</b>
  <%= @purchase.recruiter_a_id %>
</p>

<p>
  <b>Affiliate paid:</b>
  <%= @purchase.affiliate_paid %>
</p>

<p>
  <b>Recruiter paid:</b>
  <%= @purchase.recruiter_paid %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
