<div id="layout"  style="width:850px;margin-left:auto;margin-right:auto;">

<div class="menu_button hide_from_printout">
              <ul>
                             <li><a  href="#" onclick="goBackToTransaction(<%= @purchase.id %>)">Back to Transaction Screen</a></li>
                            <li><a  href="#" onclick="ConfirmControlSheetIndexStartup()">Work Orders List</a></li>
                            <li><a href="#" onclick="window.print();return false;">Print</a></li>
                            <li><<%=  link_to "Refresh", :action => "work_order_details", :id => @purchase.id  %>  </li>
              </ul>
</div>





<div class="work_order">
        <div class="title_text"> Work Order  <%= @purchase.id  %> </div>
                  <div style="width: 850px;text-align: center;padding-top: 10px;padding-bottom: 10px;">
                  <div style="width: 300px;text-align: left;float: left;"> Created On: <%=  @purchase.date_created %>  </div>
                  <div style="width: 250px;text-align: center;float: left;"> Containing <%=  @listing_purchases_entries.size   %> Jobs  </div>
                  <div style="width: 300px;text-align: right;float: left;"> </div>
        </div>



          <table width="850" cellspacing="1" cellpadding="1" border="1" align="" summary="" class="hide_from_screen">
                <tbody>
                    <tr>
                        <td width="283"><%=    render(:partial => "control_sheet/customer" )  -%></td>
                        <td width="283">
                          <%   if @ship_to  %>
                                  <%=    render(:partial => "control_sheet/ship_to"  )  -%>
                         <% else %>
                                  <div style="width: 100%"> Same as Billing  </div>
                          <% end  %>
                              </td>
                    </tr>
                </tbody>
            </table>


        <table style="width:850px;">
         <% @purchases_entry_ids = SortedSet.new  %>
         <% @listing_purchases_entries.each do |purchases_entry| %>
                                  <tr class="request_header">
                                                   <td>
                                                                    <table>
                                                                                  <tr>
                                                                                       <td style="width:200px; font-size: 15px;">Request #:<%= purchases_entry.id  %></td>
                                                                                        <td  style="width:500px; font-size: 15px;">Name:<%= purchases_entry.purchases_entries_Description  %></td>
                                                                                         <td  style="width:50px;">  <%=  render :partial => "control_sheet/edit_purchases_entry_details_modal_link", :locals => {:purchases_entry => purchases_entry } %></td>
                                                                                        <td   style="width:50px;"><%= link_to(  "Delete",  { :action => 'delete_request', :purchases_entry_id => purchases_entry.id }  , { :class => "padded_link"  , :confirm => 'Are you sure you want to delete this Request?' }    ) %></td>
                                                                                   </tr>
                                                                      </table>

                                                    </td>
                                    </tr>
                                  <% if purchases_entry.purchases_entry_detail  %>
                                                          <tr>
                                                                <td style="text-align: center;width:850px;">
                                                                        <div style="height:50px;background-color: #d3d3d3;width:90px;float:left;">Quantity:<br> <%=     purchases_entry.QuantityOnOrder.to_i   %></div>

                                                                         <div style="height:50px;background-color: white;width:100px;float:left;">  Art Charge:<br>  <%=     number_to_currency( purchases_entry.art_charge)   %> </div>
                                                                        <div style="height:50px;background-color: #d3d3d3;width:130px;float:left;">Ink Changes Charge:<br><%=  number_to_currency purchases_entry.ink_changes_charge    %></div>
                                                                         <div style="height:50px;background-color: white;width:130px;float:left;">  Piece Price:<br>  <%=    number_to_currency( purchases_entry.per_piece)   %></div>
                                                                        <div style="height:50px;background-color: #d3d3d3;width:90px;float:left;">TotalPrice: <br><%=    number_to_currency(  purchases_entry.Price )   %></div>
                                                                          <div style="height:50px;background-color: white;width:104px;float:left;"><% if   purchases_entry.rush_charge.to_i  > 0    %> <span style="color: red;"> RUSH! <%= number_to_currency  purchases_entry.rush_charge   %>  </span><% end %></div>
                                                                          <div style="height:50px;background-color: white;width:100px;float:left;"> <%  if  purchases_entry.art_due_date %>Art Due:<br>  <%=     purchases_entry.art_due_date.to_date   %>  <% end %></div>
                                                                          <div style="height:50px;background-color: #d3d3d3;width:100px;float:left;"><%  if  purchases_entry.ship_due_date %>Ship Due: <br> <%=     purchases_entry.ship_due_date.to_date   %><% end %></div>
                                                                </td>
                                                          </tr>




                                                           <tr>
                                                                        <td style="height: 200px;width: 850px;">
                                                                                   <div style="height:240px;width:194px;float:left;text-align: center;">
                                                                                                              <div style="height:40px;width: 194px;">
                                                                                                                               <% if  purchases_entry.machine_id and  purchases_entry.machine_id > 0  %>
                                                                                                                                                <%= purchases_entry.machine.name  %>
                                                                                                                                <% else %>
                                                                                                                                                Other Machine
                                                                                                                               <% end  %>
                                                                                                              </div>
                                                                                                            <div style="height:40px;width: 194px;">
                                                                                                                              <%  if  purchases_entry.artist_customer_id > 0      %>
                                                                                                                                                Artist: <%=   purchases_entry.artist.name       %> &nbsp;
                                                                                                                               <% else %>
                                                                                                                                              No Artist Assigned.
                                                                                                                               <% end %>
                                                                                                              </div>
                                                                                                                <% if  purchases_entry.similar_artwork_done == 1 %>  <span style="color: red;font-size: 15px;"> SIMILAR ART!  <br></span> <% end %>
                                                                                                                <% if  purchases_entry.art_supplied  == 1 %>  <span style="color: red;font-size: 15px;">SOME ART SUPPLIED  <br></span> <% end %>
                                                                                                                <% if  purchases_entry.film_number %>  <span style="color: red;"> Film #:<%=  purchases_entry.film_number  %></span>   <% end  %><br><br>
                                                                                                                 <% if purchases_entry.purchases_entry_detail_colors != ""         %>
                                                                                                                              Colors: <%=   purchases_entry.purchases_entry_detail_colors          %>
                                                                                                                <% else %>
                                                                                                                               No Colors Written
                                                                                                                 <% end  %>


                                                                                   </div>
                                                                                    <div style="height:240px;background-color: #dda0dd;width:200px;float:left;text-align: center;">
                                                                                               <% Item.unscoped do %>
                                                                                                                          <%   if purchases_entry.clone_item_type       %>
                                                                                                                                                <%= image_tag( '/images/item_thumbnails/' + Item.find( purchases_entry.clone_item_type.original_item_id).PictureName,:size => "200x200" )  %>
                                                                                                                                                <div style="height: 40px;background-color: black;color:white;font-size: 16px;"> <%=   purchases_entry.clone_item_type.name  %></div>
                                                                                                                             <% end  %>
                                                                                                <% end  %>
                                                                                     </div>
                                                                                    <div style="width:450px;height: 240px;float:left;">
                                                                                                                   <%= purchases_entry.detail_description  %>
                                                                                     </div>



                                                                        </td>
                                                           </tr>
                                                            <% if  purchases_entry.art_supplied  == 1 %>
                                                            <tr>
                                                                                                          <td style="background-color:#b0c4de;">
                                                                                                                             <% if  purchases_entry.supplied_art_exists?  %>
                                                                                                                                                                 <% if purchases_entry.see_folder %>
                                                                                                                                                                                <span style="color: green;">Supplied  Art Folder Exists:   <%=   purchases_entry.supplied_art_filename    %>  </span>
                                                                                                                                                                  <% else %>
                                                                                                                                                                                <span style="color: green;" >Supplied  Art File Exists:   <%=   purchases_entry.supplied_art_filename    %>  </span>
                                                                                                                                                                 <% end  %>
                                                                                                                              <% else %>
                                                                                                                                                                <% if purchases_entry.see_folder %>
                                                                                                                                                                                <span style="color: red;"> Supplied Art Folder:    <%=   purchases_entry.supplied_art_filename    %>  <%=  link_to "Create Folder", :action => "create_folder", :type => "supplied", :id => purchases_entry.id  , :purchase_id => @purchase.id  %> </span>
                                                                                                                                                                 <% else  %>
                                                                                                                                                                                <span style="color: red;"  onclick="window.prompt ('Copy to clipboard: Ctrl+C, Enter', '<%=   purchases_entry.supplied_art_filename.split('/').last    %>'   );"> Supplied Art File:    <%=   purchases_entry.supplied_art_filename    %>.( psd |  tif | eps | ai | jpg | jpeg | gif | pdf  )</span>
                                                                                                                                                                <% end %>
                                                                                                                              <% end  %>

                                                                                                        </td>
                                                            </tr>
                                                            <% end  %>
                                                           <% if purchases_entry.layered_art and  purchases_entry.layered_art > 0  %>
                                                            <tr>
                                                                                        <td style="background-color: #b0c4de;">
                                                                                                           <% if  purchases_entry.layered_art_exists?  %>
                                                                                                                                              <% if purchases_entry.see_folder %>
                                                                                                                                                                 <span style="color: green;"> Layered Art Folder Exists:   <%=   purchases_entry.layered_art_filename    %>  </span>
                                                                                                                                              <% else %>
                                                                                                                                                                <span style="color: green;"> Layered Art File Exists:   <%=   purchases_entry.layered_art_filename    %>  </span>
                                                                                                                                             <% end  %>
                                                                                                            <% else %>
                                                                                                                                             <% if purchases_entry.see_folder %>
                                                                                                                                                                 <span style="color: red;"> Layered Art Folder:    <%=   purchases_entry.layered_art_filename    %>  <%=  link_to "Create Folder", :action => "create_folder"  ,:type => "layered_art"  , :id => purchases_entry.id, :purchase_id => @purchase.id  %></span>
                                                                                                                                              <% else  %>
                                                                                                                                                                 <span style="color: red;"   onclick="window.prompt ('Copy to clipboard: Ctrl+C, Enter', '<%=   purchases_entry.layered_art_filename.split('/').last    %>'   );"> Layered Art File:    <%=   purchases_entry.layered_art_filename    %>.( psd |  tif | eps | ai )</span>
                                                                                                                                              <% end  %>
                                                                                                            <% end  %>

                                                                                      </td>
                                                             </tr>
                                                             <% end  %>
                                                            <tr>
                                                                                    <td  style="background-color: #faf0e6;">
                                                                                                       <% if  purchases_entry.production_file_exists?  %>
                                                                                                                                            <% if purchases_entry.see_folder %>
                                                                                                                                                                       <span style="color: green;"> Production or Separation Folder Exists:   <%=   purchases_entry.production_filename    %>  </span>
                                                                                                                                           <% else %>
                                                                                                                                                                     <span style="color: green;"  onclick="window.prompt ('Copy to clipboard: Ctrl+C, Enter', '<%=   purchases_entry.production_filename.split('/').last    %>'   );"> Production or Separation File Exists:   <%=   purchases_entry.production_filename    %>  </span>
                                                                                                                                          <% end  %>
                                                                                                        <% else %>

                                                                                                                                            <% if purchases_entry.see_folder %>
                                                                                                                                                             <span style="color: red;">  Production or Separation Folder:    <%=   purchases_entry.production_filename    %> <%=  link_to "Create Folder", :action => "create_folder"  ,:type => "production"  , :id => purchases_entry.id, :purchase_id => @purchase.id  %> </span>
                                                                                                                                            <% else  %>
                                                                                                                                                            <span style="color: red;" onclick="window.prompt ('Copy to clipboard: Ctrl+C, Enter', '<%=   purchases_entry.production_filename.split('/').last    %>'   );"> Production or Separation Files:    <%=   purchases_entry.production_filename    %>.( psd |  tif | eps | ai |  jpg |  jpeg  )  </span>
                                                                                                                                            <% end  %>

                                                                                                        <% end  %>

                                                                                  </td>
                                                              </tr>

                                  <% else %>
                                                              <tr>
                                                                               <td  style="height: 50px;width: 850px;text-align: center;"> No Details </td>
                                                               </tr>
                                   <% end  %>
          <% end %>
          <tr>
            <td style="text-align: center;">
              <%=  render :partial => "control_sheet/edit_purchases_entry_details_modal_link" , :locals => {:purchases_entry => false } %>
          </td>
          </tr
         </table>




</div>

</div>

