<%= form_for(@design_alignment_group) do |f| %>
  <% if @design_alignment_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@design_alignment_group.errors.count, "error") %> prohibited this design_alignment_group from being saved:</h2>

      <ul>
      <% @design_alignment_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :item_class_id %><br />
    <%= f.text_field :item_class_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
