<style type="text/css">
  td {
      padding-left:10px;
  }
</style>


<div class="purchase_totals_wholesale" style="width: 100%;display: inline-table;">

<table class="purchase_totals" width="300" border="0" cellspacing="0" cellpadding="0"  style="float: left;text-align: right;font-size: 13px;margin-top:15px;">
  <tr>
            <th></th>
            <th>Info:</th>
  </tr>
  <tr>
            <td>cart count</td>
            <td>
              <div id="cart_count">
                <%= @purchase.cart_count   if @purchase       %>            </div>
            </td>
  </tr>
  <tr>
            <td>login name </td>
            <td>
              <div id="login">
                <%= if logged_in?
                      current_user.email
                    else
                      'Log in for discounts'
                    end %>              </div>
            </td>
  </tr>

  <tr>
    <td>licensed for </td>
    <td>
      <div id="licensed_for">
        <%=  @licensed_for    %>              </div>
    </td>
  </tr>

  <tr>
    <td>price level</td>
    <td>
      <div id="PriceLevel">
        <%=  @customer_array.PriceLevel   if @customer_array  %>                 </div>    </td>
  </tr>
  <tr>
    <td>current discount  </td>
    <td>
      <div id="CurrentDiscount">
        <%= @customer_array.CurrentDiscount    if @customer_array     %>                   </div>    </td>
  </tr>
  <tr>
    <td>total weight</td>
    <td><%=  number_with_precision( @purchase_total_weight , :precision => 2 )  %></td>
  </tr>
</table>




<table class="purchase_totals" width="300" border="0" cellspacing="0" cellpadding="0" style="float: left;text-align: right;font-size: 13px;margin-top:15px;">
  <tr>
    <th></th>
    <th>Totals:</th>
  </tr>
  <tr>
    <td> full price total</td>
    <td>
      <div id="full_price_total">
        <%=   number_to_currency(@purchase_full_price_total)   %>            </div>    </td>
  </tr>
  <tr>
    <td>total quantity tier  <%#= @discount_name %> savings </td>
    <td>
      <div id="total_savings">
        <%=   number_to_currency(@purchase_total_savings)    %>          </div>     </td>
  </tr>

  <tr>
    <td>subtotal </td>
    <td>
      <div id="subtotal">
        <%=  number_to_currency(@purchase_subtotal)    %>            </div>        </td>
  </tr>


  <tr>
    <td>online discount savings </td>
    <td>
      <div id="online_discount_savings">
        <%= number_to_currency(@purchase_online_discount_savings)     %>		</div>	</td>
  </tr>
  <tr>
    <td>subtotal after all discounts</td>
    <td>		<div id="subtotal_after_all_discounts">
      <%= number_to_currency(@purchase_subtotal_after_all_discounts)      %>
    </div> </td>
  </tr>
  <tr>
    <td>
      <%    if @purchase   %>
          <%  if @purchase.shipping_service && @purchase.ship_to  %>
              <%= @purchase.shipping_service.Name.humanize + ' shipping estimate' %>
          <%  else  %>
              <%=   ' * Average ground shipping'  %>
          <%  end  %>
      <%  else %>
          <%=   ' * Average ground shipping'  %>
      <%  end  %>
    </td>
    <td>
      <div id="shipping">
        <%=  number_to_currency(@purchase_shipping)        %>
      </div>
    </td>
  </tr>
  <tr>
    <td><%= 'COD Charge' if @purchase_cod_charge %></td>
    <td>
      <div id="cod_charge">
        <%=     number_to_currency(@purchase_cod_charge)    %>
      </div>

    </td>
  </tr>
  <tr>
    <td>final total after shipping. </td>
    <td>
      <div id="final_total_after_shipping">
        <% if @purchase_shipping == 'shipping service unavailable' %>
            <%= link_to "Edit Shipping Service", :controller => 'ship_tos',:action => 'shipping_services'    %>
        <% else %>
            <%= number_to_currency(@purchase_final_total_after_shipping)    %>
        <% end %>


      </div>

    </td>
  </tr>
</table>


</div>