<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>listview demo</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.min.css">
  <%= stylesheet_link_tag '/assets/development/guides'    if Rails.env.development? %>

  <%#= stylesheet_link_tag '/assets/jquery_mobile/jquery_mobile_customized' %>

  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.min.js"></script>
  <script src="/assets/jquery_mobile/klass.min.js"></script>
  <script src="/assets/jquery_mobile/code.photoswipe-3.0.5.js"></script>
  <script src="/assets/jquery/jquery.cookie.js"></script>
  <!-- https://github.com/carhartl/jquery-cookie  -->
  <%#= stylesheet_link_tag '/assets/jquery_mobile/photoswipe.css' %>

  <%#= stylesheet_link_tag '/assets/store/checkout'  if controller_name  == "cart"   %>
  <%= stylesheet_link_tag '/assets/application/application_jquery'  %>
  <%= stylesheet_link_tag '/assets/store/jquery_cart'  if controller_name  == "cart"  %>
  <%= stylesheet_link_tag '/assets/store_specsheet/specsheet' if action_name == "specsheet" %>
  <%= stylesheet_link_tag '/assets/store_specsheet/specsheet_phone' if action_name == "specsheet" %>

</head>


<div data-role="page"  id="index">


  <!--   #######################  BEGIN  PANELS   ####################### -->
  <!--   #######################  BEGIN  PANELS   ####################### -->
  <!--   #######################  BEGIN  PANELS   ####################### -->
  <!--   #######################  BEGIN  PANELS   ####################### -->
  <!--   #######################  BEGIN  PANELS   ####################### -->

  <!--   #######################  END  PANELS   ####################### -->
  <!--   #######################  END  PANELS   ####################### -->
  <!--   #######################  END  PANELS   ####################### -->
  <!--   #######################  END  PANELS   ####################### -->
  <!--   #######################  END  PANELS   ####################### -->




  <!--   #######################  BEGIN  HEADER  ####################### -->
  <!--   #######################  BEGIN  HEADER  ####################### -->
  <!--   #######################  BEGIN  HEADER  ####################### -->
  <!--   #######################  BEGIN  HEADER  ####################### -->
  <!--   #######################  BEGIN  HEADER  ####################### -->
  <!--   #######################  END  HEADER  ####################### -->
  <!--   #######################  END  HEADER  ####################### -->
  <!--   #######################  END  HEADER  ####################### -->
  <!--   #######################  END  HEADER  ####################### -->
  <!--   #######################  END  HEADER  ####################### -->


  <!--   #######################  BEGIN  CONTENT  ####################### -->
  <!--   #######################  BEGIN  CONTENT  ####################### -->
  <!--   #######################  BEGIN  CONTENT  ####################### -->
  <!--   #######################  BEGIN  CONTENT  ####################### -->
  <!--   #######################  BEGIN  CONTENT  ####################### -->
  <div data-role="content"  class="show">
    <%= yield %>
  </div>
  <!--   #######################  END CONTENT    ####################### -->
  <!--   #######################  END CONTENT    ####################### -->
  <!--   #######################  END CONTENT    ####################### -->
  <!--   #######################  END CONTENT    ####################### -->
  <!--   #######################  END CONTENT    ####################### -->

  <!--   #######################  BEGIN  FOOTER  ####################### -->
  <!--   #######################  BEGIN  FOOTER  ####################### -->
  <!--   #######################  BEGIN  FOOTER  ####################### -->
  <!--   #######################  BEGIN  FOOTER  ####################### -->
  <!--   #######################  BEGIN  FOOTER  ####################### -->

  <!--   #######################  END  FOOTER  ####################### -->
  <!--   #######################  END  FOOTER  ####################### -->
  <!--   #######################  END  FOOTER  ####################### -->
  <!--   #######################  END  FOOTER  ####################### -->
  <!--   #######################  END  FOOTER  ####################### -->


</div><!-- page -->



</html>

























