<!DOCTYPE html>
<html>
<head>

<%= render :partial => "layout_elements/shared_javascripts" %>
<%= render :partial => "layout_elements/shared_stylesheets" %>
      <%= javascript_include_tag 'designer.js'  %>
      <%= stylesheet_link_tag 'designer.css'  %>
      <%= stylesheet_link_tag 'search.css'  %>
      <%= stylesheet_link_tag 'item_management.css'  %>
<%= javascript_include_tag 'designer_department_categories.js'  %>
<%= yield :head_additions -%>

</head>

<body class="designer_body">
      <div class="header">


      </div>

      <div class="page_content_wide">

                  <% if flash[:notice] != nil -%>
                          <% if flash[:notice].size > 0 -%>
                                    <div style="color: blue; text-align: center;">&nbsp;<%= flash[:notice] %>&nbsp;</div>
                          <% end -%>
                  <% end -%>
                  <%= yield %>

      </div>
      <div class="footer">
      </div>
  

  <%= render :partial => 'development/instance_variables' , :locals => { :instance_variables => instance_variables } %>
  <%= render :partial => 'development/parameters' , :locals => { :params => params } %>


</body>
</html>