
<% if page_container.page %>
	<% if   @customer_array.customer_viewable_page_types.include?(page_container.page.page_type_id)     %>
			<% if @latest_revision_ids.include?(page_container.id) %>
					<div class="page_name">  
						<strong> 
							<%= page_container.id  %> ---<%= page_container.page.name  %> --- Released:  <%= time_ago_in_words(  page_container.created_at,  include_seconds = false ) %>  Ago.  ----  <%=  page_container.page.created_at  %>
							<%= link_to "See related pages and categories" ,:controller => 'page', :action => 'show',:id => page_container.page.slug       %>
						</strong>              
					 </div>		
					<div class="page_content"><%= highlight( page_container.content , @tokens , '<strong class="highlight">\1</strong>' ) %> </div>
			<%  end  %>
	<%  end  %>
<%  end  %>
