  <style type="text/css">
              .page_name  a {
                  color:white;
                  text-decoration: none;
              }
  </style>


<label for="query" style="display: none;">Search anything:</label>

  <!--<input type="search" name="search_query" id="search_query"  placeholder="Search anything" >   <span class="ui-icon ui-icon-search ui-icon-shadow">&nbsp;</span>-->

  <% if params[:query] %>
                 <input type="search" name="search_query" id="search_query"  value="<%= params[:query] %>" >   <span class="ui-icon ui-icon-search ui-icon-shadow">&nbsp;</span>
  <% else %>
                 <input type="search" name="search_query" id="search_query" placeholder="Enter keywords and choose button below!">   <span class="ui-icon ui-icon-search ui-icon-shadow">&nbsp;</span>
   <% end %>


  <div class="ui-bar ui-bar-a">
    <h3>You must click a button below to search!</h3>
  </div>
  <br>


  <div class="ui-corner-all custom-corners search_buttons"  id="articles_choices">
        <% if @website.name == "dixie_store" %>
                    <div class="ui-body ui-body-a">
                      <h3>Articles</h3>
                          <ul data-role="listview">
                                <li data-icon="search"><a href="#"  id="search_heritage_news" class="search_button ui-btn ui-btn-b">Search  Heritage News</a></li>
                                <li data-icon="search"><a href="#"  id="search_interesting_emails"  class="search_button ui-btn ui-btn-b">Search Interesting Emails</a></li>
                                <li data-icon="search"><a href="#"   id="search_southern_history"  class="search_button ui-btn ui-btn-b">Search Southern History</a></li>
                          </ul>
                    </div>
         <% else %>
                            <!--<li data-icon="search"><a href="#"   id="search_all"  class="search_button ui-btn ui-btn-b">Search Articles</a></li>-->
        <% end %>
  </div>


  <div class="ui-corner-all custom-corners search_buttons"  id="products_choices">
    <div class="ui-bar ui-bar-a">
      <h3>Products</h3>
    </div>
    <div class="ui-body ui-body-a">
      <ul data-role="listview">
       <% unless @website.name == "barber_store" %>
                         <li data-icon="search"><a href="#"   id="search_garments"  class="search_button ui-btn ui-btn-b">Search Garments</a></li>
        <% end %>
        <li data-icon="search"><a href="#"   id="search_merchandise"  class="search_button ui-btn ui-btn-b">Search Merchandise</a></li>
        <li data-icon="search"><a href="#"   id="search_designs"  class="search_button ui-btn ui-btn-b">Search Designs</a></li>
      </ul>
    </div>
  </div>




  <% if @development %>
              <% if @paginated_results %>
                            @paginated_results.size:: <%= @paginated_results.size.to_s  %>
              <% else %>
                           not   @paginated_results
              <% end %>
              <br>
              <% if @initial_revisions %>
                            @initial_revisions.size:: <%= @initial_revisions.size.to_s  %>
              <% else %>
                           not   @initial_revisions
              <% end %>
              <br>
              <% if @all_records %>
                                @all_records.size:: <%= @all_records.size.to_s  %>
              <% else %>
                           not   @all_records
              <% end %>
              <br>
 <% end %>


  <div style="text-align: center;font-size:19px;font-weight: bold;">
    <% if params[:search_type_name] == "search_heritage_news" %>
        Southern Heritage News Search Results
    <% elsif params[:search_type_name] == "search_interesting_emails" %>
        Interesting Emails Search Results
    <% elsif params[:search_type_name] == "search_southern_history" %>
        Southern History Search Results
    <% elsif params[:search_type_name] == "search_garments" %>
        Item Search Results
    <% elsif params[:search_type_name] == "search_merchandise" %>
        Merchandise Search Results
   <% elsif params[:search_type_name] == "search_designs" %>
        Design Search Results
    <% else %>
      .
    <% end %>
  </div>

<% if @articles %>
                                <style type="text/css">
                                    .page_name <  a {
                                        color: white;
                                    }
                                </style>

                                <div id="search_results_container" style="text-align:left;min-height:200px;background-color:white;padding:15px;">
                                                      <div class="modal_search_form_container" style="text-align:center;">

                                                                        <div class="container">
                                                                          Increasing relevant keywords will improve your search.
                                                                        </div>



                                                      </div>


                                                        <div class="revisions">
                                                                        <%= render :partial => "search/revisions" if @paginated_results %>
                                                      </div>

                                                        <%#= will_paginate @revisions  , :params => { :query => params[:query], :search_type_name => params[:search_type_name]  }   %>



                                                          <% if @paginated_results %>
                                                                    <!--<span id="bottom-left">visible!</span>-->
                                                                  <!--<div  id = "load-more-revisions" style="width: 400px;height: 200px;background-color: yellow;display: inline-table;">-->
                                                                                <!--<%#= link_to 'Load More Revisions', search_path(:query => params[:query], :search_type_name => params[:search_type_name] ,:page => @revisions.next_page), :id => "page-link", :class => 'ui-btn load-more-revisions', :remote => true if @revisions.next_page %>-->
                                                                                 <% g = "g" %>
                                                                                <!--<%= link_to 'Load More', search_path(:query => params[:query], :search_type_name => params[:search_type_name] ,:page => @paginated_results.next_page), :id => "page-link", :class => 'ui-btn load-more-revisions', :remote => true  %>-->
                                                                  <!--</div>-->
                                                          <% end %>
                                     </div>
  <% else  %>
                  <div role="main" class="ui-content responsive_listview_grid">
                                    <ul data-role="listview" data-inset="true" id="revisions" class="revisions" style="width: 100%;">
                                                    <%= render :partial => "search/items" if @paginated_results %>
                                    </ul>

                  </div>
                                 <!--<div style="width: 100%;height: 200px;text-align: center;padding-bottom:300px;"> Use the search field above to search the website.   </div>-->
<% end %>

   <br>

  <div class="ui-corner-all custom-corners the_choices" style="display:none;text-align: center;">


                  <div class="ui-corner-all custom-corners item_choices" style="display:none;">
                                <div class="ui-bar ui-bar-a">
                                                <h3>Before searching for a design, please finish your current design. Here are your options</h3>
                                </div>
                                <div class="ui-body ui-body-a">
                                              <ul data-role="listview">
                                                <li><a href="/cart/place_incomplete_symbiont_on_hold">Place design on hold</a></li>
                                                <li><a href="/cart/delete_incomplete_symbiote">Delete design  from cart</a></li>
                                                <li><a href='/store'>Complete design by opening items</a></li>
                                              </ul>
                                </div>
                  </div>


                  <div class="ui-corner-all custom-corners design_choices"  style="display:none;">
                                <div class="ui-bar ui-bar-a">
                                                <h3>Before searching for a item, please finish your current item. Here are your options</h3>
                                </div>
                                <div class="ui-body ui-body-a">
                                              <ul data-role="listview">
                                                <li><a href="/cart/place_incomplete_symbiont_on_hold">Place item on hold</a></li>
                                                <li><a href="/cart/delete_incomplete_symbiote">Delete item  from cart</a></li>
                                                <li><a href='/store'>Complete item  by opening designs</a></li>
                                              </ul>
                                </div>
                  </div>
     </div>





  <!--<li><a href="#cart/place_incomplete_symbiote_on_hold" class="link_acts_as_ajax">Place item on hold</a></li>-->

  <!--<li><a href="/cart/place_incomplete_symbiont_on_hold">Place item on hold</a></li>-->