<%= render :partial => "menu_opposites"%>

	<h1>Listing all <%= @item_type %>  categories with prefix  <%= @original_prefix %>  </h1>
	<table>
	  <tr>	
	    <th>Image</th>
	    <th>Prefix</th>
	    <th>Category class Name</th>
	    <th>Category Code</th>
	    <th>Category Name</th>
	    <th>Category Id</th>
	  </tr>
	
	<% for category in @categories %>
	<% first_item = category.items.first %>
	<% if first_item != nil %>
	
	
	<% if category.category_class.item_type == 'master' %>
		<% department = first_item.masters_department_decides_default_department_id %>
	<% else %>
		<% department = first_item.design_decides_opposites_department %>
	<% end %>
	
	  <tr>
		<td> <%= image_tag( first_item.image_url( department  ,'item_thumbnails/','x') ,:size => "90x90")    %> </td>	
	    <td><%=h category.prefix %></td>
	    <td><%=h category.category_class.name if category.category_class %></td>
	    <td><%=h category.Code %></td>
	    <td><%=h category.Name %></td>
	    <td><%=h category.id %></td>
	    <td><%= link_to "List all items in this category", :controller => 'opposites', :action => 'list_all_items_in_this_category',:id => category.id  %></td>
	  </tr>
	<% end %>
	<% end %>
	</table>

