<%= form_tag( "details", :id => "details_form"   ) do %>

<!--     ###############   BACKGROUND DESIGN     ###############   -->
BACKGROUND DESIGN <br />
<%=  text_field_tag "current_background_id",  "0.png", :size => 80      %>current_background_id<br />
<%=  text_field_tag "current_background_imagename",  "0.png", :size => 80      %>current_background<br />
<%=  text_field_tag "current_background_color",  "0"  , :size => 80    %>current_background_color<br />
<br />

<!--     ###############   BACK DESIGN     ###############   -->
BACK DESIGN<br />
<%=  text_field_tag "back_design_id",   @back_design.id    , :size => 80  ,:onchange => "clearDynamicAdministrationForms();"  %>back_design_id<br />
<%=  text_field_tag "back_design_imagename", @back_design_image_name  , :size => 80    %>current_back_design_imagename<br />
<%=  text_field_tag "back_design_prefix",  @back_design.category.prefix  , :size => 80    %>@back_design.category.prefix<br />
<%=  text_field_tag "back_design_department_id",  @back_design.department_id  , :size => 80  %>back_design_department_id<br />
<%=  text_field_tag "back_design_category_id",  @back_design.category_id  , :size => 80  %>back_design_category_id<br />

<%=  text_field_tag "back_design_department_changed",  "0"  , :size => 80    %>back_design_department_changed<br />

<%=  text_field_tag "back_design_changed",  "0"  , :size => 80    %>back_design_changed<br />
<%=  text_field_tag "back_design_applicable_front_designs_ids",   @back_design_applicable_front_designs_ids   , :size => 80    %>@back_design.applicable_front_designs_ids<br />
<%=  text_field_tag "back_design_type",  "stock"  , :size => 80    %>back_design_type<br />
<br />

<!--     ###############   FRONT DESIGN     ###############   -->
FRONT DESIGN<br />
<%=  text_field_tag "front_design_id",  @front_design_id  , :size => 80  ,:onchange => "clearDynamicAdministrationForms();"   %>front_design_id<br />
<%=  text_field_tag "front_design_imagename",  @front_design_image_name  , :size => 80    %>current_front_design_imagename<br />
<%=  text_field_tag "front_design_category_id",  @front_design.category_id  , :size => 80  %>front_design_category_id<br />


<% if @front_design.category %>
<%=  text_field_tag "front_design_prefix",  @front_design.category.prefix   , :size => 80    %>@front_design.category.prefix<br />
<% else  %>
<span style="color:red;font-size:20px;">
@front_design.category.prefix is not available because this @front_design has no category<br />
</span>

<% end  %>

<%=  text_field_tag "current_front_design_type",  "stock"  , :size => 80    %>current_front_design_type<br />


<br />

<!--     ###############   PRODUCT CHOICE     ###############   -->
PRODUCT<br />
<%=  text_field_tag "item_id",  @item.id || 0    , :size => 80    %>product item_id<br />
<%=  text_field_tag "product_background_image_name", @product_background_image_name  , :size => 80    %>product_background_image_name<br />
<%=  text_field_tag "product_mask_image_name", @product_mask_image_name  , :size => 80    %>product_mask_image_name<br />



<br />

<!--     ###############   SELECTORS     ###############   -->
SELECTORS<br />
<%=  text_field_tag 'swap', '0', :size => 80 %>swap<br />
<%=  text_field_tag 'current_design_target', 'front_design', :size => 80 %>current_design_target<br />
<%= text_field_tag 'designer', '0', :size => 80 %>designer<br />
<%= text_field_tag 'original_design_id', params[:item_id]   , :size => 80%>original_design_id<br />

<br />

<!--     ###############   POTENTIAL COMBINATION ALIGNMENT     ###############   -->
POTENTIAL COMBINATION ALIGNMENT<br />
<br />
<%=  text_field_tag 'selected_category_back_advanced_combination_back_left', @back_advanced_combination.back_left  , :size => 80 %>@selected_category_back_advanced_combination.back_left<br />
<%=  text_field_tag 'selected_category_back_advanced_combination_back_top',@back_advanced_combination.back_top  , :size => 80 %>@selected_category_back_advanced_combination.back_top<br />
<%=  text_field_tag 'selected_category_back_advanced_combination_back_width' ,  @back_advanced_combination.back_width    , :size => 80  %>@selected_category_back_advanced_combination.back_width<br />
<br />
<%=  text_field_tag 'selected_category_back_advanced_combination_front_left',  @back_advanced_combination.front_left , :size => 80 %>@selected_category_back_advanced_combination.front_left<br />
<%=  text_field_tag 'selected_category_back_advanced_combination_front_top',  @back_advanced_combination.front_top  , :size => 80 %>@selected_category_back_advanced_combination.front_top<br />
<%=  text_field_tag 'selected_category_back_advanced_combination_front_width' ,   @back_advanced_combination.front_width    , :size => 80  %>@selected_category_back_advanced_combination.front_width<br />

<br /><br />
<%=  text_field_tag 'selected_category_front_advanced_combination_back_left',  @front_advanced_combination.back_left  , :size => 80 %>@selected_category_front_advanced_combination.back_left<br />
<%=  text_field_tag 'selected_category_front_advanced_combination_back_top', @front_advanced_combination.back_top  , :size => 80 %>@selected_category_front_advanced_combination.back_top<br />
<%=  text_field_tag 'selected_category_front_advanced_combination_back_width' ,  @front_advanced_combination.back_width    , :size => 80  %>@selected_category_front_advanced_combination.back_width<br />
<br />
<%=  text_field_tag 'selected_category_front_advanced_combination_front_left', @front_advanced_combination.front_left  , :size => 80 %>@selected_category_front_advanced_combination.front_left<br />
<%=  text_field_tag 'selected_category_front_advanced_combination_front_top', @front_advanced_combination.front_top  , :size => 80 %>@selected_category_front_advanced_combination.front_top<br />
<%=  text_field_tag 'selected_category_front_advanced_combination_front_width' ,  @front_advanced_combination.front_width    , :size => 80  %>@selected_category_front_advanced_combination.front_width<br />


<br /><br /><br />


<!--     ###############   CURRENT  COMBINATION ALIGNMENT     ###############   -->
CURRENT  COMBINATION ALIGNMENT<br />
<%=  text_field_tag 'back_advanced_combination_back_left',  @back_advanced_combination.back_left    , :size => 80 %>@back_advanced_combination.back_left<br />
<%=  text_field_tag 'back_advanced_combination_back_top',  @back_advanced_combination.back_top    , :size => 80 %>@back_advanced_combination.back_top<br />
<%=  text_field_tag 'back_advanced_combination_back_width' ,  @back_advanced_combination.back_width    , :size => 80 %>@back_advanced_combination.back_width<br />
<br />
<%=  text_field_tag 'back_advanced_combination_front_left',  @back_advanced_combination.front_left    , :size => 80 %>@back_advanced_combination.front_left<br />
<%=  text_field_tag 'back_advanced_combination_front_top',  @back_advanced_combination.front_top    , :size => 80 %>@back_advanced_combination.front_top<br />
<%=  text_field_tag 'back_advanced_combination_front_width' ,  @back_advanced_combination.front_width    , :size => 80 %>@back_advanced_combination.front_width<br />
<br /><br />


<%=  text_field_tag 'front_advanced_combination_back_left',   @front_advanced_combination.back_left   , :size => 80 %>@front_advanced_combination.back_left<br />
<%=  text_field_tag 'front_advanced_combination_back_top',  @front_advanced_combination.back_top   , :size => 80 %>@front_advanced_combination.back_top<br />
<%=  text_field_tag 'front_advanced_combination_back_width',   @front_advanced_combination.back_width   , :size => 80 %>@front_advanced_combination.back_width<br />
<br />
<%=  text_field_tag 'front_advanced_combination_front_left',   @front_advanced_combination.front_left   , :size => 80 %>@front_advanced_combination.front_left<br />
<%=  text_field_tag 'front_advanced_combination_front_top',  @front_advanced_combination.front_top   , :size => 80 %>@front_advanced_combination.front_top<br />
<%=  text_field_tag 'front_advanced_combination_front_width',   @front_advanced_combination.front_width   , :size => 80 %>@front_advanced_combination.front_width<br />
<br />


<% end  %>