<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @deweys_power_panel.name %>
</p>

<p>
  <b>Description:</b>
  <%= @deweys_power_panel.description %>
</p>


<%= link_to 'Edit', edit_deweys_power_panel_path(@deweys_power_panel) %> |
<%= link_to 'Back', deweys_power_panels_path %>
