<div id="product_choices"  class="advanced_choices_product" style="display:none;">

  



	<table  border="0" cellspacing="0" cellpadding="0" height="60" width="850" style="color:gray;font-size:12px;">
			  <tr height="30">
				    <th  scope="col"><%= 'Item Code' if @item %></th>
				    <th  scope="col"><%= 'Item Description' if @item %></th>
				    <th  scope="col"><%= 'Design Code' if @design  %></th>
				    <th  scope="col"><%= 'Design Description' if @design  %></th>
				   <th  scope="col"><%= 'Your Price'  if @your_unit_price  unless  @your_unit_price == 0.01  %></th>
			  </tr>
			  <tr height="30">
					<td id="item_itemlookupcode"><%=   @item.ItemLookupCode.to_s  if @item   %></td>
					<td id="item_description"><%=   @item.description_before_color_and_size  if @item   %></td>
                                        <td id="spacer"> &nbsp;</td>
					<td id="your_unit_price" >
						<%=    number_with_precision(@your_unit_price, :precision => 2 ) unless  @your_unit_price == 0.01  %>
					</td>
			</tr>
	</table>

	<table  border="0" cellspacing="0" cellpadding="0"  style="color:gray;font-size:12px;height:123px;width:850px;">
			<tr>
					<td id="component_selector">
                                          <span style="color:red;font-size: 16px;" > Please choose a size:</span>
                                                <%=  select("item_class_component", "item_id", @item_class_components.collect {|p| [ p.dimensions , p.item_id ] } ,{:selected =>  @selected_item_id  } )      if  @required_form_elements.include?('icc_collection_select' )   %>
                                                <%=  observe_field :item_class_component_item_id, :frequency => 2, :update => 'specsheet',  :url => { :action => 'update_specsheet_all_over'  ,:purchases_entry_id => @purchases_entry } ,  :with => 'item_id'      if  @required_form_elements.include?('icc_collection_select' )        %>
                                                <%=  hidden_field_tag "department_id", @department_id     if  @required_form_elements.include?('hidden_department_id_field' )  if @department   %>
                                                <%=  hidden_field_tag "item_id", @item.id     if  @required_form_elements.include?('hidden_item_id_field' )     %>
                                                <%=  hidden_field_tag "add_combo",'1'     if  @required_form_elements.include?('hidden_add_combo_field' )     %>
                                                <%=  hidden_field_tag "design_id", @design.id     if  @required_form_elements.include?('hidden_design_id_field' )     %>
                                                <%=  hidden_field_tag "purchases_entry_id", @purchases_entry.id    if  @required_form_elements.include?('hidden_purchases_entry_id_field' )      %>
					 </td>
			</tr>
                        <tr>
					<td id="item_extended_description">
									<%= @item.opacity_description  %><%= @item.ExtendedDescription  %>
					 </td>
			</tr>
	</table>


Product Options:<br/>

<%# designer_products = Item.find( [ 15245, 20014 ,20021,20029  ]) %>

<% designer_products = Item.find( [ 15245 ,20021  ]) %>
<% designer_products.each do |dp| %>
    <div class="designer_product">
          <%= image_tag  '/images/item_masks/' + dp.PictureName + '-button.png' , :class => 'designer_item', :title => '/images/item_masks/' + dp.PictureName + '-mask.png'  ,:id => dp.id %>
          <%= dp.ItemLookupCode  %>
          <%= dp.description_before_color_and_size  %>
    </div>
<% end  %>




</div>