<% @the_department_variable = '@department_choices_' + choice_type  %>


<div id="<%= choice_type %>_choices" style="float: left;display:none;" class="x_choices">


 <% choices_message_hash =
   Hash[
   "background_choices"  => "Please choose a Design for the Background of the Product",
    "front_choices"  => "Please choose a Design for the Front." ,
    "back_choices"  => "Please choose a Design for the Back" ,
    "shirt_style_choices"  => "Product choices below" ,
    "details"  => "Details" ,
    "add_to_cart"  => "Add to Cart"
    ]
%>


  <%= choices_message_hash[choice_type] %>
      

      <%= form_for( choice_type + '_javascript', :url => {:action => 'update_categories'}) do |f| %>
              <%= f.collection_select :department_id,  instance_variable_get(@the_department_variable  ) , :id, :Name, :prompt => "Select a department" %>
              <span id="<%= choice_type %>_category_field">
                    <%= f.collection_select :category_id, Category.limit("2"), :id, :Name, :prompt => "Select a category" %>
              </span>
              <span id="specsheet_item_search_<%= choice_type %>_field_container">
                    <%= text_field_tag "specsheet_item_search_" + choice_type + "_field" %>
                    <%= image_tag '/images/icons/search-icon.png', :size => '40x40' %>
              </span>
      <% end  %>
      <div id="category_items_<%= choice_type %>">
              <%= render :partial => "designer_specsheet/category_items" , :locals => {:choice_type => choice_type  } %>
      </div>
</div>