     <style type="text/css">
                  .listview_span {
                                 min-width: 10%;
                                overflow: hidden;
                  }
             .left_floater {
                 float:left;
             }

     </style>





      <%= form_tag "/customer_item_sales_by_years" do %>


          <label for="search-basic">Year to date sales number report</label>
          <input type="search" name="account_number" id="search-basic" value="<%= params[:account_number] || '' %>"   placeholder="Enter a Customer Account Number. Ex: M35967" />

               <%= submit_tag "View YTDN for this Account Number" %>
        <% end %>


        <% if @selected_customer %>
                         <div class="ui-bar ui-bar-a">
                                       <h3>Showing item sales for Customer:</h3>
                                       <p>AccountNumber: <%= @selected_customer.AccountNumber %> </p>
                                       <p>Company: <%= @selected_customer.Company %> </p>
                                       <p>Name:<%= @selected_customer.FirstName %> <%= @selected_customer.LastName %> </p>
                         </div>
       <% end %>


      <% if @customer_item_sales_by_years and  @customer_item_sales_by_years.size > 0 %>
    <ul data-role="listview">
              <% @customer_item_sales_by_years.each do |customer_item_sales_by_year| %>
                                 <%  if customer_item_sales_by_year.item and  customer_item_sales_by_year.item.category %>
                                                      <li>
                                                        <a href="/specsheet/<%= customer_item_sales_by_year.item.id %>/<%= customer_item_sales_by_year.item.department_id  %>/<%= customer_item_sales_by_year.item.category_id  %>">
                                                          <div class="left_floater" style="max-width: 140px;max-height:140px;overflow: hidden;">
                                                            <%  if customer_item_sales_by_year.item %>

                                                                <img src="<%= "/images/item_thumbnails/" + customer_item_sales_by_year.item.PictureName.gsub(".png","").gsub(".jpg","")   + ".jpg"  %>" class="ui-li-thumb"  style="max-height:200px;position:relative;">
                                                            <% end %>
                                                          </div>
                                                          <div class="listview_span left_floater" style="color: red;"> <%= customer_item_sales_by_year.sum_of_quantity.to_i  %>   </div>
                                                          <div class="listview_span left_floater"><%= customer_item_sales_by_year.item.ItemLookupCode %> &nbsp; - &nbsp; <%= customer_item_sales_by_year.item.Description   %>  </div>
                                                          <div class="listview_span left_floater"> <%= customer_item_sales_by_year.item.category.Name %> </div>



                                                        </a>
                                                      </li>
                                 <% end %>
              <% end %>
    </ul>
      <% else %>

           No customer chosen. Please enter an account number in the search field above.
      <% end %>













      <% if @ssdfas %>


          <label for="search_query" style="display: none;">Search anything:</label>

          <input type="customer_id" name="search_query" id="search_query" placeholder="Enter keywords and choose button below!">   <span class="ui-icon ui-icon-search ui-icon-shadow">&nbsp;</span>



          http://www.biblegateway.com/audio/mclean/niv/Ruth.2

    <ul data-role="listview" data-inset="true">
      <% @customer_item_sales_by_years.each do |customer_item_sales_by_year| %>
                    <li><a href="#"><%= customer_item_sales_by_year.customer_id %></a></li>
      <% end %>
    </ul>



    <li><%= customer_item_sales_by_year.item_id %></li>
    <li><%= customer_item_sales_by_year.sale_year %></li>
    <li><%= customer_item_sales_by_year.sum_of_quantity %></li>


<% end %>