<h1>Listing missing_images</h1>

<table>
  <tr>
    <th>Item</th>
  </tr>

<% @missing_images.each do |missing_image| %>
  <tr>
    <td><%=h missing_image.item_id %></td>
    <td><%= link_to 'Show', missing_image %></td>
    <td><%= link_to 'Edit', edit_missing_image_path(missing_image) %></td>
    <td><%= link_to 'Destroy', missing_image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New missing_image', new_missing_image_path %>