<h1>New missing_image</h1>

<%= form_for(@missing_image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', missing_images_path %>