<script type="text/javascript">

Modalbox.resizeToContent();


     itemClassWatcher = function() {
                      Modalbox.show( "/designer_specsheet/ajax_item_details", {title: 'Please choose product details.', evalScripts:true , width: 600,  params: {  item_id: $('item_class_component_item_id').value  }   }); return false;
   }

      chooseSelected  = function() {
                       console.log( $('item_class_component_item_id').value );
                       Modalbox.hide();
                 new Ajax.Updater('mask_image', '/designer_specsheet/ajax_change_product_choice' ,  {
                         parameters: { item_id: $('item_class_component_item_id').value, front_design_id: $('details_form_front').design_id.value, back_design_id: $('details_form_back').design_id.value  }
                  });
   }

  </script>


<div id='item_details_container'>

            <div id="item_detail_thumbnail">
                              <%= image_tag(  '/images/item_thumbnails/' + @item.PictureName + '.png'   , :width => '280' ,:alt =>  @item.PictureName  ) %>
            </div>

            ItemLookupCode: <%= @item.ItemLookupCode  %> <br />
             Description: <%= @item.description_before_color_and_size  %> <br />
             <%=  select("item_class_component", "item_id", @item_class_components.collect {|p| [ p.dimensions , p.item_id ] } ,{:selected =>  @selected_item_id  } , :onchange => "itemClassWatcher();"   )    %>

           <br />
           <br />

           <div id="item_detail_buttons" style="text-align:center">
                    <%= image_tag(  '/images/buttons/cancel.png'  , :alt => 'Cancel' , :onclick => "Modalbox.hide();" ) %>
                    <%= image_tag(  '/images/buttons/confirm.png'  , :alt =>  'Confirm' , :onclick => "chooseSelected();" ) %>
           </div>
</div>


