<% status_color = 'red'  %>
<% status_color = 'green' if status == "Success" %>


<span style="color:<%= status_color %>;" id="update_message_<%= side %>">
  <%= side.capitalize %> update <%= status %>.
</span>

 <script type="text/javascript">

    $('save_changes_<%= side %>').disabled = true;

  <% if side == 'front' %>
                  $('details_form_front').advanced_combination_back_width.value = "<%= @advanced_combination.back_width  %>";
                  $('details_form_front').advanced_combination_back_left.value = "<%=  @advanced_combination.back_left  %>";
                  $('details_form_front').advanced_combination_back_top.value =  "<%=  @advanced_combination.back_top %>";
                  $('details_form_front').advanced_combination_back_width.value = "<%=  @advanced_combination.back_width  %>";
                  $('details_form_front').advanced_combination_front_left.value = "<%=  @advanced_combination.front_left  %>";
                  $('details_form_front').advanced_combination_front_top.value =  "<%=  @advanced_combination.front_top %>";
                  $('details_form_front').advanced_combination_number_of_sides.value = "<%=  @advanced_combination.number_of_sides  %>";
                  $('details_form_front').advanced_combination_default_side.value = "<%=  @advanced_combination.default_side  %>";
  <% else %>
                  $('details_form_back').advanced_combination_back_width.value = "<%= @advanced_combination.back_width  %>";
                  $('details_form_back').advanced_combination_back_left.value = "<%=  @advanced_combination.back_left  %>";
                  $('details_form_back').advanced_combination_back_top.value =  "<%=  @advanced_combination.back_top %>";
                  $('details_form_back').advanced_combination_back_width.value = "<%=  @advanced_combination.back_width  %>";
                  $('details_form_back').advanced_combination_front_left.value = "<%=  @advanced_combination.front_left  %>";
                  $('details_form_back').advanced_combination_front_top.value =  "<%=  @advanced_combination.front_top %>";
                  $('details_form_back').advanced_combination_front_width.value = "<%=  @advanced_combination.front_width  %>";
                  $('details_form_back').advanced_combination_number_of_sides.value = "<%=  @advanced_combination.number_of_sides  %>";
                  $('details_form_back').advanced_combination_default_side.value = "<%=  @advanced_combination.default_side  %>";
  <% end  %>

</script>
