<form action="/search/search" method="get" onsubmit="$('yield_container').hide();$('progress').show();">

    <% if session[:advanced_search] == true %>
        <select id="search_scope" name="search_scope" ><option value="Matches Any">Matches Any  - (Most Results)</option><option value="Matches All">Matches All -(Less Results)</option></select>
    <% end  %>
    <select name="search_type_name">
      <option value="products" selected="selected"> Products </option>
      <option value="articles"> Articles </option>
    </select>
    <%= text_field_tag("query", params[:query], :autocomplete => "off", :size => 25 ) %>
    <%= submit_tag "Search" , :id => "search_submit" %>


</form>













<% if @old %>




    <style type="text/css">
        .search_button {
            width:40px;
        }
    </style>



    <%= form_tag( '/films/search', :remote => true    , :onSubmit => "$('progress_bar_container').show();"       )  do %>
        <select id="search_scope" name="search_scope" ><option value="Matches All">Matches All -(Less Results)</option><option value="Matches Any">Matches Any  - (Most Results)</option></select>
        <%= text_field_tag("query", params[:query], :autocomplete => "off", :size => 50 ) %>

        <div id="progress_bar_container" style="display:none;"> <%= image_tag( '/images/icons/progress-bar.gif'   ) %> </div>
        <%= image_submit_tag('/images/buttons/48x48-search.png', :class => "search_button")  %>

        <%= link_to image_tag("/images/buttons/enter-new-film.png", :border => 0), new_film_path %>
    <%   end   %>









    <%= form_remote_tag( :url => { :controller => "search",  :action => "ajax_search"},  :html =>{ }) do %>
        <% if session[:advanced_search] == true %>
            <select id="search_scope" name="search_scope" ><option value="Matches Any">Matches Any  - (Most Results)</option><option value="Matches All">Matches All -(Less Results)</option></select>
        <% end  %>
        <select name="search_type_name">
          <option value="products" selected="selected"> Products </option>
          <option value="articles"> Articles </option>
        </select>
        <%= text_field_tag("query", params[:query], :autocomplete => "off", :size => 33 ) %>
        <%= submit_tag "Search" , :id => "search_submit",  :onclick =>  "$('yield_container').hide();$('progress').show();" %>

    <% end %>












    <%= form_remote_tag( :url => { :controller => "search",  :action => "ajax_search"},  :html =>{ }) do %>
              <% if session[:advanced_search] == true %>
                            <select id="search_scope" name="search_scope" ><option value="Matches Any">Matches Any  - (Most Results)</option><option value="Matches All">Matches All -(Less Results)</option></select>
             <% end  %>
              <select name="search_type_name">
                <option value="products" selected="selected"> Products </option>
                <option value="articles"> Articles </option>
              </select>
                <%= text_field_tag("query", params[:query], :autocomplete => "off", :size => 33 ) %>
                <%= submit_tag "Search" %>
    <% end %>
<% end %>



