<%=  fields_for "purchase[purchases_entry_attributes][]" , purchases_entry do |p|  %>

			<% item =  Item.find(purchases_entry.item_id)  %>
			<% quantity = purchases_entry.QuantityOnOrder %>
					
					
					      <tr id="<%= "purchases_entry_" + purchases_entry.id.to_s %>">
					                <td  class="purchases_entry_delete">
					                            		<%=  link_to(image_tag("/images/buttons/delete.gif",:border => 0), {:action =>"delete_purchases_entry",:purchases_entry_id => purchases_entry.id} ) %>
					        		</td>    		
					                <td  class="purchases_entry_master_image" >
                                                                                                                <%=   image_tag  '/images/item_backgrounds/solid-rebel-flag-background.png' , :width => '200'  %>

                                                          <img src="/images/item_all_over_designs/<%=  purchases_entry.item.PictureName %> " alt="<%=  purchases_entry.item.PictureName %>"
                                                               style="
                                                                          left:-850px;
                                                                          width:200px;
                                                                          top:-200px;
                                                                           margin:0px;
                                                                           padding:0px;
                                                                          " />



					        		</td>
					                <td  class="purchases_entry_slave_image">	
					        		</td>		


					                <td  class="purchases_entry_quantity">        
					                                 
										<% unless controller.controller_name == 'purchases'  %>
															  <%= p.hidden_field :id  ,:index => nil%>
 															<%= p.text_field :QuantityOnOrder ,:index => nil ,:size => 2 , :value => number_with_precision(purchases_entry.QuantityOnOrder,0)   %>												 

					            		<%  else  %>
														<%=  quantity   %>
										<%  end  %>
								    </td>
					              
					                <td  class="purchases_entry_itemlookupcode"><%= item.ItemLookupCode %>  </td>
					             
					                <td  class="purchases_entry_description">
					                	
					                
					               <div style="float:left;width:240px;"> 	
					            				Description:<%= item.Description %>	<br />
					            		</div>
					              	<div style="float:left;width:140px;">
																<%= render :partial => "shared_display_cart/purchases_entry_recommend",:locals => {:item => item } %>
													</div>
					            				
					                
					                <%= 'Dimensions:' if item.dimensions != '' %> <%= item.dimensions %><br />
					                	
					                <%= link_to image_tag('/images/buttons/view_details.gif', :border => 0), :controller => "specsheet", :purchases_entry_id => purchases_entry.id  unless controller.controller_name == 'purchases' %>
					                	
					                	
					                	
					                 </td>
					           
					                 <td  class="purchases_entry_full_unit_price">
					                                <div  id="full_unit_price_<%= purchases_entry.id %>"> 
					                                                <%= item.full_unit_price(@customer)  %>
					                                </div>
					                </td>
					                 <td  class="purchases_entry_full_extended_price">
					                                  <div  id="full_extended_price_<%= purchases_entry.id %>">
					                                                <%=   number_with_precision(  purchases_entry.full_extended_price(@customer,item) ,2)  %> 
					                                   </div>
					                  </td>
					
					      </tr>
    
<%  end  %>


