<h1>New affiliate</h1>

<%= error_messages_for :affiliate %>

<%= form_for(@affiliate) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Helper</b><br />
    <%= f.text_field :helper_id %>
  </p>

  <p>
    <b>Recompense</b><br />
    <%= f.text_field :recompense_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', affiliates_path %>
