

<% item =  Item.find(purchases_entry.item_id)  %>
<% quantity = purchases_entry.QuantityOnOrder %>


<tr class="<%= cycle('even', 'odd') -%>">
  <th>
    <% if @show_pe_type %>
    <!--sw-->
    <% end %>

    <% unless controller.controller_name == 'purchases'  %>
        <%=  fields_for "purchase[purchases_entry_attributes][]" , purchases_entry do |p|  %>
            <%= p.hidden_field :id  ,:index => nil%>
            <%= p.text_field :QuantityOnOrder ,:index => nil ,:size => 2 , :value => number_with_precision(purchases_entry.QuantityOnOrder,:precision => 0 )   %>
        <% end %>
    <%  else  %>
        <%=  quantity   %>
    <%  end  %>
    <%=  link_to("Delete", {:controller => 'cart', :action =>"delete_purchases_entry",:purchases_entry_id => purchases_entry.id}, {:class => "ui-btn"} ) %>
  </th>
  <th>


            <% if purchases_entry.master_department_id != 0 %>
                <%=   image_tag purchases_entry.item.image_url( purchases_entry.master_department_id , 'item_thumbnails/','x'  ) ,:style => "max-height:100px;max-width:100px;" %>
            <% else %>
                <%=   image_tag purchases_entry.item.image_url( purchases_entry.item.default_master_department_id , 'item_thumbnails/','x'  ) ,:style => "max-height:100px;max-width:100px;" %>
            <% end %>



  </th>
  <th><%= item.ItemLookupCode %></th>
  <td><%= item.Description %></td>
  <td> <%#= 'Dimensions:' if item.dimensions != '' %> <%= item.dimensions %></td>
  <td><%=  number_to_currency(item.full_unit_price(@customer_array))  %></td>
  <td><%= number_to_currency(  item.unit_quantity_tier_discount_price(@customer_array, quantity))   %></td>
  <td><%= number_to_currency(  item.unit_quantity_tier_discount_savings(@customer_array, quantity))   %></td>
  <td><%=  number_to_currency(item.your_unit_price(@customer_array, quantity))   %></td>
  <td><%=    number_to_currency(  purchases_entry.full_extended_price(@customer_array,item))  %></td>
  <td><%=  number_to_currency(   purchases_entry.your_extended_price_savings(@customer_array,quantity,item))   %></td>
  <td> <strong>   <%=  number_to_currency(   purchases_entry.your_extended_price(@customer_array,quantity,item))  %>  </strong></td>
</tr>

