
  <% customer = ""  %>
  <% logger.debug "purchases_entry.inspect: " +   purchases_entry.inspect %>
  <% customer = purchases_entry.customer  %>

<% if customer %>
   <% logger.debug "customer.inspect: " + customer.inspect  %>
<div class="customer" style="text-align:left;">
<p>
  <b>AccountNumber:</b>
  <%=h customer.AccountNumber %>
</p>

<p>
  <b>Company:</b>
  <%=h customer.Company %>
</p>

<p>
  <b>Firstname:</b>
  <%=h customer.FirstName %>
</p>

<p>
  <b>Lastname:</b>
  <%=h customer.LastName %>
</p>


<p>
  <b>Address:</b>
  <%=h customer.Address %>
</p>

<p>
  <b>Address2:</b>
  <%=h customer.Address2 %>
</p>

<p>
  <b>City:</b>
  <%=h customer.City %>
</p>


<p>
  <b>State:</b>
  <%=h customer.State %>
</p>

<p>
  <b>Zip:</b>
  <%=h customer.Zip %>
</p>

<p>
  <b>Emailaddress:</b>
  <%=h customer.EmailAddress %>
</p>



</div>
<% end  %>