<h1>Listing Commissions for <%=h @item.ItemLookupCode  %> -  <%=h @item.Description  %></h1>

&nbsp; <strong><%= link_to "Back", :controller => "commission", :action => "commissions_by_item"  %></strong><br /><br />

Begin Date:<%= @begin_date %><br />
End Date:<%= @end_date %><br /> 

<h3>Item Purchases  Entry Breakdown:</h3>



  <style type="text/css">
    table th {
         font-size: 11px;
    }
  </style>



<table>
	  <tr>
	    <th>Time</th>
	    <th>Website</th>
        <th>Sale #</th>
	    <th>Customer FirstName</th>
	    <th>Customer LastName</th>
	      <th>Quantity  </th>
	     <th>Actual Price</th>
	     <th>Commissioned Price</th>
	      <th>Total at Commissioned Price</th>
	     <th> Fixed Amount</th>
	     <th>Percent of Sale (%)</th>
	      <th>Fixed Total</th>
	       <th>Percent Total </th>
	        <th>Combined Total Commissions</th>

	  </tr>

	  <% if @purchases_entries %>


				                     <% @purchases_entries.each do |pe| %>
	                                    <%  @commission_customer_website_status  =   @commission_customer_website_ids.include?( pe.purchase.website_id.to_s )    %>
										  <tr>
                                                <td style="width:200px;"><%=h pe.purchase.Time %></td>
                                                <td style="width:100px;"><%=h pe.purchase.website.title  %></td>
                                                <td style="width:100px;"><%=h pe.purchase.id %></td>
                                                <td style="width:100px;">
                                                                    <% if @commission_customer_website_status  %>
                                                                    <%=h pe.purchase.customer.FirstName if pe.purchase.customer %>
                                                                    <% else  %>
                                                                                 Omitted
                                                                     <% end %>
                                                </td>
                                                <td style="width:100px;">
                                                                    <% if @commission_customer_website_status  %>
                                                                    <%=h pe.purchase.customer.LastName  if pe.purchase.customer %>
                                                                    <% else  %>
                                                                                 Omitted
                                                                     <% end %>
                                                </td>
                                                 <td style="width:100px;"><%=h pe.QuantityRTD %></td>
                                                <td style="width:100px;"><%=h pe.Price %></td>
                                                <td style="width:100px;"><%=h pe.commissioned_price  %></td>
                                                <td style="width:100px;"><%=h pe.extended_total_at_commissioned_price  %></td>
                                                <td style="width:100px;"><%=h pe.item.CommissionAmount %></td>
                                                <td style="width:100px;"><%=h pe.item.CommissionPercentSale %></td>
                                                 <td style="width:100px;"><%=h pe.fixed_total %></td>
                                                  <td style="width:100px;"><%=h pe.percent_total  %></td>
                                                      <td style="width:100px;"><%=h pe.combined_total %></td>
							                  </tr>
					            <% end %>
		<% else %>	  
			 		<tr><td>No Sales for this item in this Time Period</td></tr>
	 	<% end %>
</table>



<h3>Total Sales at Commissioned Price: <%= @total_sales_at_commissioned_price %></h3>

<h3>Total Commissions at Commissioned Price:<%= @total_commissions_at_commissioned_price %></h3>