          <!-- Begin Designer Specsheet Index -->
    <% content_for :head_additions do -%>
          <!-- BeginDesigner Specsheet Index Head Additions -->
          <%= stylesheet_link_tag 'designer_specsheet.css'  %>
          <%= javascript_include_tag 'designer_specsheet.js' %>
          <%= javascript_include_tag 'proto.menu.js' %>
          <%= stylesheet_link_tag 'proto.menu.css'  %>
          <% javascript_include_tag 'dynamic_categories.js' %>
          <%= stylesheet_link_tag 'custom_items.css'  %>
          <!-- End Designer Specsheet Index Head Additions -->
    <% end  -%>

    <div class="specsheet_container" >
       <%= render(:partial => "designer_specsheet/specsheet_table_double") -%>
        <%= render(:partial => "designer_specsheet/specsheet_resize") if @designer   -%>

        <%= render(:partial => "designer_specsheet/advanced_choices_menu") -%>
        <%= render(:partial => "designer_specsheet/advanced_choices_administration") -%>
        <% render :partial => 'designer_specsheet/custom_items' if @custom_items %>



        <%= render :partial => "designer_specsheet/category_choices_background"    if @designer_series == true   -%>
        <%= render :partial => "designer_specsheet/category_choices_front"  -%>
        <%= render :partial => "designer_specsheet/category_choices_back" -%>
        <%= render :partial => "designer_specsheet/category_choices_product"   -%>
        <%= render :partial => 'designer_specsheet/color_choices_pallete' %>
        <%= render :partial => "designer_specsheet/details"  -%>
        <%= render :partial => "designer_specsheet/price"  -%>
        <%= render :partial => "designer_specsheet/add_to_cart"  -%>

    </div>

    <!-- End Designer Specsheet Index -->
<%   @all_categories = Category.all    %>
<%   @product_categories = Category.where("id in (?)",  @back_design.opposite_category_ids    )    %>
<%#  @back_design.opposite_category_ids.inspect        %>

    
 <script type="text/javascript">

var categories = new Array();
<% for category in @all_categories.sort_by{|a| a.Name}  -%>
      categories.push(new Array(<%= category.department_id %>, '<%=h Util::Slug.generate(category.Name.to_s) %>', <%= category.id %>));
<% end -%>


var product_categories = new Array();
<% for category in @product_categories.sort_by{|a| a.id}  -%>
      product_categories.push( <%= category.id %>);
<% end -%>
  


<%# choice_types = ['background', 'front', 'back', 'shirt_style'] %>
  <% choice_types = [  'back', 'product'] %>

 <% choice_types.each do |ct| %>


          function <%= ct %>departmentSelected() {
                              $('specsheet_item_search_<%= ct %>_field').value = '';
                              department_id = $('<%= ct %>_javascript_department_id').getValue();
                              options = $('<%= ct %>_javascript_category_id').options;
                              options.length = 1;
                              categories.each(function(category) {
                                    <%  if ct == 'shirt_style' %>
                                            if (category[0] == department_id) {
                                                     if ( product_categories.indexOf( category[2] ) > 0  ) {
                                                            console.log("   category[0]  : " +     category[0]   );
                                                            console.log("   category[1]  : " +     category[1]   );
                                                            console.log("   category[2]  : " +     category[2]   );
                                                            console.log("  product_categories.indexOf( category[2]  ): " +    product_categories.indexOf( category[2]  )  );
                                                            options[options.length] = new Option(category[1], category[2]);
                                                     }
                                            }
                                    <%   else  %>
                                            if (category[0] == department_id) {
                                              options[options.length] = new Option(category[1], category[2]);
                                            }
                                    <%  end  %>
                                    <%   if ct == 'back'  %>
                                                  $('back_design_department_changed').value = 1;
                                    <% end  %>
                                   }
                           );

                          if (options.length == 1) {
                                $('<%= ct %>_category_field').hide();
                          } else {
                                $('<%= ct %>_category_field').show();
                          }
            };
            function <%= ct %>categorySelected() {
                          console.log('<%= ct %>categorySelected()');
                          category_id =  $('<%= ct %>_javascript_category_id').getValue();
                          design_id =  $('original_design_id').getValue();
                          $('specsheet_item_search_<%= ct %>_field').value = '';
                          <%   if ct == 'back'  %>
                                                  $('back_design_category_changed').value = 1;
                          <% end  %>
                           new Ajax.Updater('category_items_<%= ct %>', '/designer_specsheet/select_list_update_category', {
                                   parameters: { design_id: design_id, current_category_id: category_id , choice_type: '<%= ct %>' }, evalScripts:true
                            });
            };
            function <%= ct %>searchSubmitted() {
                    item_keywords =  $F('specsheet_item_search_<%= ct %>_field');
                     new Ajax.Updater('category_items_<%= ct %>_design', '/designer_specsheet/specsheet_item_search', {
                             parameters: { item_keywords:  item_keywords, page: 1 , choice_type: '<%= ct %>' }
                      });
            };
<% end %>



function createSelectLists( ) {
      <% choice_types.each do |ct| %>
                <%= ct %>departmentSelected();
                $('<%= ct %>_javascript_department_id').observe('change', <%= ct %>departmentSelected);
                $('<%= ct %>_javascript_category_id').observe('change', <%= ct %>categorySelected);
                $('specsheet_item_search_<%= ct %>_field').observe('change', <%= ct %>searchSubmitted);
      <% end %>
};

    </script>
