<% if @parameter_item_type == 'all_over_design'  %>

                                                            <!-- Begin Designer Specsheet Index -->
                                                            <% content_for :head_additions do -%>
                                                            <!-- BeginDesigner Specsheet Index Head Additions -->
                                                            <%= javascript_include_tag 'proto.menu.js' %>
                                                            <%= stylesheet_link_tag 'proto.menu.css'  %>
                                                            <%= javascript_include_tag 'dynamic_categories.js' %>
                                                            <%= stylesheet_link_tag 'custom_items.css'  %>
                                                            <%= stylesheet_link_tag 'designer_specsheet.css' %>
                                                            <%= javascript_include_tag 'designer_specsheet.js' %>
                                                            <!-- End Designer Specsheet Index Head Additions -->
                                                            <% end  -%>

                                                            <div class="specsheet_container" >

                                                             <% if params[:x_up] == 1 %>
                                                            <%= render(:partial => "designer_specsheet/specsheet_table_single") -%>
                                                            <% else  %>
                                                            <%= render(:partial => "designer_specsheet/specsheet_table_double") -%>
                                                            <% end  %>

                                                            <%= render(:partial => "designer_specsheet/specsheet_resize") -%>
                                                            <%= render(:partial => "designer_specsheet/advanced_choices_menu") -%>
                                                            <%= render :partial => "designer_specsheet/advanced_choices", :locals => {:choice_type => 'background'}  -%>
                                                            <%= render :partial => "designer_specsheet/advanced_choices", :locals => {:choice_type => 'front'}  -%>
                                                            <%= render :partial => "designer_specsheet/advanced_choices", :locals => {:choice_type => 'back'}  -%>
                                                            <%= render :partial => "designer_specsheet/advanced_choices_product"  -%>
                                                            <%= render :partial => 'designer_specsheet/color_choices_pallete' %>
                                                              <%= render :partial => "designer_specsheet/details"  -%>
                                                            <%= render :partial => 'designer_specsheet/custom_items' %>



                                                                  <% if @working %>
                                                                          <%= render :partial => "designer_specsheet/specsheet_choices_menu" -%>
                                                                          <%= render(:partial => "designer_specsheet/specsheet_details") -%>
                                                                          <%= render(:partial => "designer_specsheet/preference_fields") -%>
                                                                  <% end  %>

                                                            </div>

                                                            <!-- End Designer Specsheet Index -->

<% else %>
                                                            <div style="width:850px; margin-left:auto;margin-right:auto;"> <%= render :partial => 'shared_specsheet/specsheet' %></div>

<% end  %>
