
    <!-- Begin Custom Items Index -->
    <% content_for :head_additions do -%>
    <!-- Begin Custom Items Index Head Additions -->
    <%= stylesheet_link_tag 'custom_items.css'  %>
    <%= javascript_include_tag 'custom_items.js' %>
    <%= javascript_include_tag 'proto.menu.js' %>
    <%= stylesheet_link_tag 'proto.menu.css'  %>
    <%= javascript_include_tag 'dynamic_categories.js' %>
    <%= stylesheet_link_tag 'custom_items.css'  %>
    <!-- End Custom Items Index Head Additions -->
    <% end  -%>



<div  id="custom_items" style="text-align: center;">
                          <%= error_messages_for :custom_item if @rails_2_code %>

                          <%= form_for(:custom_item, :url => custom_items_path, :html => { :multipart => true }) do |f| -%>
                                          <label for="custom_item" style="font-size:22px;color:gray;">Upload A Custom Design</label>
                                          <%= f.file_field :uploaded_data %>
                                          <%= hidden_field_tag 'current_design_selector', params[:current_design_selector] %>
                                          <%= submit_tag 'Create' %>

                          <% end -%>

                           <h4>Listing Your Custom Items   <span style="color:red;font-size:16px;">Click on any image for choices. </span></h4>

                           <%= render :partial => "custom_items/size_controls"  if @show_size_controls  %>

                            <div class='custom_items_container'>
                                        <% for custom_item in @custom_items %>
                                          <div class='custom_item_container'>
                                                <% if @show_admin %>
                                                       width: <%= custom_item.width %><br />
                                                       height <%= custom_item.height %><br />
                                                      custom_item.methods.inspect <% custom_item.methods.inspect %><br />
                                                      custom_item.filename: <%=custom_item.filename %><br />
                                                      custom_item.public_filename:  <%=custom_item.public_filename %><br />
                                                      custom_item.full_filename:  <%=custom_item.full_filename %><br />
                                                      custom_item.full_filename('thumbnail'):  <%=custom_item.full_filename('thumbnail') %><br />
                                                <% end  %>

                                                            <div class='custom_item_image_container'> <%=    image_tag(custom_item.public_filename, :width => 100 , :class => 'custom_item_image' , :id => 'contextArea'  )     %></div>
                                                            <% if @show_custom_item_links_container %>
                                                              <div class='custom_item_links_container' id="custom_item_links_container_<%= custom_item.id %>">
                                                                      <%= link_to 'Show', custom_item %><br/>
                                                                      <%= link_to 'Edit', edit_custom_item_path(custom_item) %><br/>
                                                                      <%= link_to 'Destroy', custom_item, :confirm => 'Are you sure?', :method => :delete %><br/>
                                                                      <%= link_to 'Add to Front', :controller => 'designer_specsheet', :custom_item_id => custom_item.id, :current_design_selector => 'front_design' %><br/>
                                                                      <%= link_to 'Add to Back', :controller => 'designer_specsheet', :custom_item_id => custom_item.id, :current_design_selector => 'back_design'  %><br/>
                                                           </div>
                                                           <% end  %>

                                          </div>
                                        <% end %>
                          </div>

</div>





