
<h1>Listing Featured Items</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Description</th>
    <th>Verbiage</th>
    <th>Active</th>
    <th>Carousel name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @featured_items.each do |featured_item| %>
  <tr>
    <td><%=  image_tag  "http://cdn.dixieoutfitters.com" + featured_item.image_name, :size => "100x100" %> </td>
    <td><%= featured_item.description %></td>
    <td><%= featured_item.verbiage %></td>
    <td><%= featured_item.active %></td>
    <td><%= featured_item.carousel_name %></td>
    <td><%= link_to 'Show', featured_item %></td>
    <td><%= link_to 'Edit', edit_featured_item_path(featured_item) %></td>
    <td><%= link_to 'Destroy', featured_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Featured item', new_featured_item_path %>




