
<div data-role="collapsible-set">
  <div data-role="collapsible">
    <h3><%= child.name  %></h3>

    <ul data-role="listview">
                  <li><a href="<%= url_for( :action => "show", :id => child.slug  ) %>"><%= child.name  %> Index</a></li>
                  <% child.children.each do |child| %>
                                          <%  if child.children  %>
                                              <%= render :partial => "page/child_with_children" , :locals => {:child => child  } %>
                                          <% else %>
                                              <li><a href="<%= url_for( :action => "show", :id => child.slug  ) %>"><%= child.name  %></a></li>
                                          <% end %>

                  <% end %>
    </ul>
  </div>
</div>