
<img alt="" class="float_100" src="http://cdn.dixieoutfitters.com/images/home_page_images/home_mobile.jpg">

<br>

<ul data-role="listview">

  <li   class="scroll_li"> <a href="/search/scroll/all_items" data-transition="slide">Join Mailing List</a></li>
  <li   class="scroll_li"> <a href="/search/scroll/all_items" data-transition="slide">Heat Transfer Machines</a></li>

</ul>

<div data-role="collapsible"  class="main_menu_choices"   id="item_menu_choices" data-theme="b" data-icon="gear"  data-inset="true" >
  <h3 style="width: 100%;">

       Transfers

  </h3>
  <div id="items_departments_list">





        <div data-role="collapsible"  class="department_collapsible  openMe"   id="department_collapsible_"   data-department_id="" >
          <h3>Shop Stock Transfers</h3>
          <ul data-role="listview" >



                                        <div data-role="collapsible"  class="main_menu_choices openMe"   id="design_menu_choices" data-theme="a" data-icon="gear"  data-inset="true" >
                                          <h3  style="width: 100%;">
                                                 Shop by Brand
                                          </h3>
                                          <div id="designs_departments_list">
                                            <!--<div data-role="collapsible" >-->
                                            <!--<h3>New designs, Sales and Specials</h3>-->
                                            <ul data-role="listview">
                                              <% unless @incomplete_symbiont %>
                                                  <li   class="scroll_li"> <a href="/search/scroll/all_designs" data-transition="slide">Scroll all designs</a></li>
                                                  <li data-icon="carat-r"><a href="/new_designs">New designs</a></li>
                                                  <% if @singular_item_customer == true %>
                                                      <li data-icon="carat-r"><a href="/sale_designs">Sale designs</a></li>
                                                  <% end %>
                                              <% end %>
                                            </ul>
                                            <!--</div>-->


                                            <% @website.default_design_departments.each do |department| %>
                                                <div data-role="collapsible"  class="department_collapsible"   id="department_collapsible_<%= department.id %>"   data-department_id="<%= department.id %>" >
                                                  <h3><%= department.Name  %></h3>
                                                  <ul data-role="listview">

                                                    <% design_department_categories = department.categories %>
                                                    <% if  design_department_categories.size > 1 %>
                                                        <li   class="scroll_li"> <a href="/search/scroll/<%=  department.id  %>" data-transition="slide">scroll all</a></li>
                                                    <% end %>

                                                    <% design_department_categories.where("web_category = 1 and visible = 1").sort_by{|a| a.Name}.each do |category| %>
                                                        <li   class="category_li"   data-category_id="<%= category.id %>"> <a href="/store/category_items/<%=  department.id  %>/<%= category.id %>" data-transition="slide"> <%= category.Name.downcase %></a></li>
                                                    <% end %>
                                                  </ul>
                                                </div>
                                            <% end %>
                                          </div>
                                        </div>







            <!--<li   class="scroll_li"> <a href="/search/scroll/" data-transition="slide">Shop by Brand</a></li>-->








                <!--<li   class="scroll_li"> <a href="/search/scroll/" data-transition="slide">Shop by Subject</a></li>-->



                            <div data-role="collapsible"  class="main_menu_choices openMe"   id="design_menu_choices" data-theme="a" data-icon="gear"  data-inset="true" >
                              <h3  style="width: 100%;">
                                    Shop by Subject
                              </h3>
                              <div id="designs_departments_list">
                                <!--<div data-role="collapsible" >-->
                                <!--<h3>New designs, Sales and Specials</h3>-->
                                <ul data-role="listview">
                                  <% unless @incomplete_symbiont %>
                                      <li   class="scroll_li"> <a href="/search/scroll/all_designs" data-transition="slide">Scroll all designs</a></li>
                                      <li data-icon="carat-r"><a href="/new_designs">New designs</a></li>
                                      <% if @singular_item_customer == true %>
                                          <li data-icon="carat-r"><a href="/sale_designs">Sale designs</a></li>
                                      <% end %>
                                  <% end %>
                                </ul>
                                <!--</div>-->


                                <% @website.default_design_departments.each do |department| %>
                                    <div data-role="collapsible"  class="department_collapsible"   id="department_collapsible_<%= department.id %>"   data-department_id="<%= department.id %>" >
                                      <h3><%= department.Name  %></h3>
                                      <ul data-role="listview">

                                        <% design_department_categories = department.categories %>
                                        <% if  design_department_categories.size > 1 %>
                                            <li   class="scroll_li"> <a href="/search/scroll/<%=  department.id  %>" data-transition="slide">scroll all</a></li>
                                        <% end %>

                                        <% design_department_categories.where("web_category = 1 and visible = 1").sort_by{|a| a.Name}.each do |category| %>
                                            <li   class="category_li"   data-category_id="<%= category.id %>"> <a href="/store/category_items/<%=  department.id  %>/<%= category.id %>" data-transition="slide"> <%= category.Name.downcase %></a></li>
                                        <% end %>
                                      </ul>
                                    </div>
                                <% end %>
                              </div>
                            </div>



          </ul>
        </div>



        <div data-role="collapsible"  class="department_collapsible  openMe"   id="department_collapsible_"   data-department_id="" >
          <h3>Custom Transfers</h3>
          <ul data-role="listview">
                <li   class="scroll_li"> <a href="/search/scroll/" data-transition="slide">About Custom Tranfers</a></li>
                <li   class="scroll_li"> <a href="/search/scroll/" data-transition="slide">Sublimation Price list</a></li>
                <li   class="scroll_li"> <a href="/search/scroll/" data-transition="slide">Foil Price List</a></li>
                <li   class="scroll_li"> <a href="/search/scroll/" data-transition="slide">Silk-Screen Price List</a></li>
                <li   class="scroll_li"> <a href="/search/scroll/" data-transition="slide">Glitter Transfer Price List</a></li>

          </ul>
        </div>




  </div>
</div>




<div data-role="collapsible"  class="main_menu_choices"   id="item_menu_choices" data-theme="b" data-icon="gear"  data-inset="true" >
  <h3 style="width: 100%;">

        T-Shirts

  </h3>
  <div id="items_departments_list">
    <% if @singular_item_customer == true %>
        <% @departments_to_show = @website.default_non_blank_item_departments %>
    <% else %>
        <% @departments_to_show = @website.default_item_departments %>
    <% end %>

    <% unless @incomplete_symbiont %>
        <ul data-role="listview">
          <li   class="scroll_li"> <a href="/search/scroll/all_items" data-transition="slide">Scroll all items</a></li>
        </ul>
    <% end %>

    <% @departments_to_show.each do |department| %>
        <div data-role="collapsible"  class="department_collapsible  openMe"   id="department_collapsible_<%= department.id %>"   data-department_id="<%= department.id %>" >
          <h3><%= department.Name  %></h3>
          <ul data-role="listview" >

            <% item_department_categories = department.categories %>
            <% if  item_department_categories.size > 1 %>
                <li   class="scroll_li"> <a href="/search/scroll/<%=  department.id  %>" data-transition="slide">scroll all</a></li>
            <% end %>
            <% item_department_categories.where("web_category = 1 and visible = 1").sort_by{|a| a.Name}.each do |category| %>
                <li  class="category_li"  data-category_id="<%= category.id %>"> <a href="/store/category_items/<%=  department.id  %>/<%= category.id %>" data-transition="slide"> <%= category.Name.downcase %></a></li>

            <% end %>
          </ul>

        </div>
    <% end %>
  </div>
</div>






<div data-role="collapsible"  class="main_menu_choices"   id="item_menu_choices" data-theme="b" data-icon="gear"  data-inset="true" >
  <h3 style="width: 100%;">


        Other Products


  </h3>
  <div id="items_departments_list">
    <% if @singular_item_customer == true %>
        <% @departments_to_show = @website.default_non_blank_item_departments %>
    <% else %>
        <% @departments_to_show = @website.default_item_departments %>
    <% end %>

    <% unless @incomplete_symbiont %>
        <ul data-role="listview">
          <li   class="scroll_li"> <a href="/search/scroll/all_items" data-transition="slide">Scroll all items</a></li>
        </ul>
    <% end %>

    <% @departments_to_show.each do |department| %>
        <div data-role="collapsible"  class="department_collapsible  openMe"   id="department_collapsible_<%= department.id %>"   data-department_id="<%= department.id %>" >
          <h3><%= department.Name  %></h3>
          <ul data-role="listview" >

            <% item_department_categories = department.categories %>
            <% if  item_department_categories.size > 1 %>
                <li   class="scroll_li"> <a href="/search/scroll/<%=  department.id  %>" data-transition="slide">scroll all</a></li>
            <% end %>
            <% item_department_categories.where("web_category = 1 and visible = 1").sort_by{|a| a.Name}.each do |category| %>
                <li  class="category_li"  data-category_id="<%= category.id %>"> <a href="/store/category_items/<%=  department.id  %>/<%= category.id %>" data-transition="slide"> <%= category.Name.downcase %></a></li>

            <% end %>
          </ul>

        </div>
    <% end %>
  </div>
</div>