
<div class="menu_affiliate"> 
    <ul>		
            <li>				
            		<%= link_to 'Affiliate Home', :controller => 'affiliates' %>		
            </li>
            <li>				
            		<%= link_to 'Links and Banners', :controller => 'affiliates',:action => 'links_and_banners' %>		
            </li>
            <li>				
            		<%= link_to 'How it works', :controller => 'affiliates', :action => "how_it_works" %>			
            </li>
             <li>				
            		<%= link_to 'Email Templates', :controller => 'affiliates',:action => 'email_templates' %>		
            </li>
            <li>				
            		<%= link_to 'Terms and Conditions', :controller => 'affiliates', :action => "terms_and_conditions" %>			
            </li>
            <li>				
            		<%= link_to 'Your Statistics', :controller => 'affiliates', :action => "compensation_report" %>			
            </li>
             <li>				
            		<%= link_to 'Version History', :controller => 'affiliates', :action => "version_information" %>			
            </li>
            
    </ul>
</div>
