<h1>New purchase</h1>

<%= error_messages_for :purchase %>

<%= form_for(:purchase, :url => purchases_path) do |f| %>
  <p>
    <b>Comment</b><br />
    <%= f.text_field :Comment %>
  </p>

  <p>
    <b>Deposit</b><br />
    <%= f.text_field :Deposit %>
  </p>

  <p>
    <b>Tax</b><br />
    <%= f.text_field :Tax %>
  </p>

  <p>
    <b>Total</b><br />
    <%= f.text_field :Total %>
  </p>

  <p>
    <b>Expirationordue</b><br />
    <%= f.text_field :ExpirationOrDue %>
  </p>

  <p>
    <b>Taxable</b><br />
    <%= f.text_field :Taxable %>
  </p>

  <p>
    <b>Referencenumber</b><br />
    <%= f.text_field :ReferenceNumber %>
  </p>

  <p>
    <b>Shippingchargeonorder</b><br />
    <%= f.text_field :ShippingChargeOnOrder %>
  </p>

  <p>
    <b>Shippingtrackingnumber</b><br />
    <%= f.text_field :ShippingTrackingNumber %>
  </p>

  <p>
    <b>Shippingnotes</b><br />
    <%= f.text_field :ShippingNotes %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', purchases_path %>