<p>
  <b>Name:</b>
  <%=h @admin_link.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @admin_link.description %>
</p>

<p>
  <b>Url:</b>
  <%=h @admin_link.url %>
</p>


<%= link_to 'Edit', edit_admin_link_path(@admin_link) %> |
<%= link_to 'Back', admin_links_path %>