<div id="films_list">
<% if @films %>
<style type="text/css">
    .film_thumbnail {
        width:120px;
    }
</style>

  <script type="text/javascript">


    function resizeThumbnail(  the_element_id   ) {
              // alert('the_element_id: ' + the_element_id );
               target = $(the_element_id);
               if ( target.className ==  'film_thumbnail_large' )
                    {
                        target.className = 'film_thumbnail';
                    }
                else
                    { target.className = 'film_thumbnail_large';  }


    }



    function resizeThumbnailReal(  the_element_id   ) {
                console.log('begin resizeThumbnail');
                target =  $(   the_element_id     )
                if ( target.className ==  'film_thumbnail_large' )
                    {
                        target.className = 'film_thumbnail';
                    }
                else
                    { target.className = 'film_thumbnail_large';  }
                console.log('end resizeThumbnail');
    }

  </script>

<table>
  <tr>
     <th>Words Hit</th>
    <th>Id</th>
    <th>Image</th>
    <th>Customer</th>
    <th>Description</th>
    <th>Work Order Id</th>
    <th></th>
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%= film.total_column %></td>
    <td><%= film.id %></td>
    <td>
                   <%=  image_tag('http://192.168.0.170:1000/film_images/' + film.id.to_s  + '.jpg'  , :id => "film_thumbnail_" + film.id.to_s , :class => "film_thumbnail" , :onclick => "resizeThumbnail(  'film_thumbnail_' +  #{film.id.to_s}    );")   %>

                    <%= link_to 'Edit', edit_film_path(film) + '#film_id=' + film.id.to_s  %>
    
    </td>




    <td><%= film.customer %></td>
    <td><%= film.description %></td>
    <td><%= film.work_order_id %></td>
  </tr>
<% end %>
</table>
<br />
<% else  %>

No Results Found!

<% end  %>
</div>