     <%  if purchases_entry.opposite_entry == false  %>
                                 <li>
                                               <a href="#two">
                                                                    <div class="thumbnails_container">
                                                                                  <% item =  Item.find(purchases_entry.item_id)  %>
                                                                                  <% quantity = purchases_entry.QuantityOnOrder %>
                                                                                  <% if purchases_entry.master_department_id != 0 %>
                                                                                      <%=   image_tag purchases_entry.item.image_url( purchases_entry.master_department_id , 'item_thumbnails/','x'  )%>
                                                                                  <% else %>
                                                                                      <%=   image_tag purchases_entry.item.image_url( purchases_entry.item.default_master_department_id , 'item_thumbnails/','x'  ) %>
                                                                                  <% end %>
                                                                      </div>
                                                                    <div class="purchases_entries_details">
                                                                                   1<%= item.ItemLookupCode %>
                                                                                   <% if item.department_is_permanent_or_volume_discountable == true %>
                                                                                       <%= link_to image_tag('/images/buttons/dollar-sign.png',:size => "30x30", :border => 0 ), {:controller => 'cart', :action => 'show_discount_info' } , :popup => ['new_window_name', 'height=400,width=800']  %>
                                                                                   <% end %>
                                                                                   <%= item.Description %>
                                                                    </div>
                                             </a>
                                           <div class="purchases_entries_price">
                                                                <div class="purchases_entries_quantity">   </div>
                                                                <div class="purchases_entries_full_extended_price"> Extended Price:<%=  number_to_currency(   purchases_entry.your_extended_price(@customer,quantity,item))  %></div>
                                           </div>

                                 </li>
     <% else %>
                                    <% if purchases_entry.master_entry == true %>
                                                  <%=  fields_for "purchase[purchases_entry_attributes][]" , purchases_entry do |p|  %>
                                                              <% if purchases_entry.item_id  == 0 or  purchases_entry.item_id  == '0'  %>
                                                              <% else %>
                                                                                <li>
                                                                                              <%#= p.hidden_field :id  ,:index => nil%>
                                                                                              <%#= p.text_field :QuantityOnOrder ,:index => nil ,:size => 2 , :value => number_with_precision(purchases_entry.QuantityOnOrder,:precision => 0 )   %>
                                                                                            <a href="#two">
                                                                                                         <div class="thumbnails_container">
                                                                                                                    <% if purchases_entry.master_department_id != 0 %>
                                                                                                                                <%=   image_tag purchases_entry.item.image_url( purchases_entry.master_department_id , 'item_thumbnails/','x'  ) %>
                                                                                                                    <% else %>
                                                                                                                                <%=   image_tag purchases_entry.item.image_url( purchases_entry.item.default_master_department_id , 'item_thumbnails/','x'  )  %>
                                                                                                                     <% end %>
                                                                                                                    <%  if purchases_entry.opposite_entry != '0'  %>
                                                                                                                                 <%  if purchases_entry.opposite_entry.item %>
                                                                                                                                            <%=   image_tag( '/images/item_thumbnails/' + purchases_entry.opposite_entry.item.PictureName  )   %>
                                                                                                                                 <% end %>
                                                                                                                     <%  end  %>
                                                                                                          </div>
                                                                                                         <div class="purchases_entries_details">
                                                                                                                         <% item =  Item.find(purchases_entry.item_id)  %>
                                                                                                                         <% quantity = purchases_entry.QuantityOnOrder %>
                                                                                                                         <%   purchases_entry_complete_symbiont =   purchases_entry.complete_symbiont %>
                                                                                                                        2<b><%= item.ItemLookupCode %>  </b>- <%= item.dimensions %>:
                                                                                                                        <%= item.description_before_color_and_size %><br>
                                                                                                                        <% if  purchases_entry_complete_symbiont %>
                                                                                                                           Design:  <b><%= purchases_entry.opposite_entry.ItemLookupCode  %></b> - <%= purchases_entry.opposite_entry.Description  %>
                                                                                                                        <% end %>
                                                                                                          </div>
                                                                                            </a>
                                                                                             <%  if purchases_entry.complete_symbiont  %>
                                                                                                                <div class="purchases_entries_price">
                                                                                                                              <div class="purchases_entries_quantity">
                                                                                                                              <%= p.hidden_field :id  ,:index => nil%>
                                                                                                                              <%= p.text_field :QuantityOnOrder ,:index => nil ,:size => 2 , :value => number_with_precision(purchases_entry.QuantityOnOrder,:precision => 0 )   %>
                                                                                                                              </div>
                                                                                                                              <div class="purchases_entries_full_extended_price">
                                                                                                                                                Extended Price:<%=  number_to_currency(purchases_entry.symbiont_full_extended_price)  %>
                                                                                                                               </div>
                                                                                                                </div>
                                                                                              <%  else  %>
                                                                                                                  <div class="purchases_entries_price">
                                                                                                                                    This item is incomplete. Please complete this combination.
                                                                                                                  </div>
                                                                                               <% end %>
                                                                                </li>
                                                                <% end %>
                                                    <% end %>
                                     <% end %>
     <% end %>











