
<%  if   @incomplete_symbiont or @purchase and  @purchase.has_on_hold_entries?  %>

    <div class="container text-primary text-center"> Totals will appear after all in progress items are complete.</div>


<% else %>
    <% if @purchases_entries %>
        <div id="cart_details">
          <div class="panel-group cart_accordion" id="cart_details_accordion">






            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#other_details">
                    Details
                  </a>
                </h4>
              </div>
              <div id="other_details" class="panel-collapse collapse in">
                <div class="panel-body"   style="text-align: right;">

                  <div style="width: 200px;float:left;text-align: left;">

                    <div id="login">
                      <%= if logged_in?
                            current_user.email
                          else
                            'Log in for discounts'
                          end %>
                    </div>

                    <div id="licensed_for">
                      Licensed for: <%=   @customer.licensed_for    if @customer    %>
                    </div>

                    <div id="PriceLevel">
                      Price Level: <%=  @customer.PriceLevel   if @customer  %>
                    </div>


                    <div id="CurrentDiscount">
                      Current Discount:  <%= @customer.CurrentDiscount    if @customer     %>
                    </div>

                    Total Weight:<%=    number_with_precision(  @purchase_total_weight, :precision => 2 )   %> lbs
                  </div>

                  <div style="width: 200px;float:right;text-align: right;">

                    <div id="full_price_total">
                      Full Price Total:<%=  number_to_currency(@purchase_full_price_total)   %>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <br>








            <% if @customer && @customer.PriceLevel > 1 %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#savings_details">
                        Savings Details
                      </a>
                    </h4>
                  </div>
                  <div id="savings_details" class="panel-collapse collapse in">
                    <div class="panel-body"   style="text-align: right;color:darkred;">

                      <div id="total_savings">
                        Total Quantity Tier and <%= @discount_name %> Savings:<%=   number_to_currency(@purchase_total_savings)    %>
                      </div>



                      <div id="online_discount_savings">
                        Online Discount Savings:  <%= number_to_currency(@purchase_online_discount_savings)     %>
                      </div>




                    </div>
                  </div>
                </div>
                <br>
            <% end %>




            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#totals">
                    Totals
                  </a>
                </h4>
              </div>
              <div id="totals" class="panel-collapse collapse in">
                <div class="panel-body"   style="text-align: right;">

                  <div style="width: 200px;float:right;text-align: right;">

                    <div id="total_after_tax">
                      Total after Discounts:<%=    number_to_currency(@purchase_total_after_tax)     %>
                    </div>

                    <div id="shipping">
                      aaShipping estimate:<%=   number_to_currency(@purchase_shipping)        %>
                    </div>
                    <br>
                    <div id="final_total_after_shipping" style="background-color: black;color:white;font-size: 15px;font-weight:bolder; padding: 10px;">
                      Total after shipping:
                      <% if @purchase_shipping == 'shipping service unavailable' %>
                          <%= link_to "Edit Shipping Service", :controller => 'ship_tos',:action => 'shipping_services'    %>
                      <% else %>
                          <%= number_to_currency(@purchase_final_total_after_shipping)    %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>





          </div>
        </div>
    <% end %>
<% end %>