<div class="show">

<% unless @zzz %>

<%= render(:partial => "cart/order_details") %>
<%= render(:partial => "cart/display_cart_buttons") %>


            <% if @customer && @customer.PriceLevel > 1 # Blank / Transfer and Franchise  %>
                    <%= render(:partial => "cart/display_cart_contents_wholesale")%>
							<% if @purchase %>
										<% if @purchase.incomplete_symbiont %>
							                     <%= render(:partial => "cart/please_complete_order")  %>
										<% else %>
												  <%= render(:partial => "cart/cart_bottom_totals_wholesale")  %>
										<% end %>
							<% end %>
            <% elsif @customer && @customer.PriceLevel == 1   # PrePrint   %>
                    <%= render(:partial => "cart/display_cart_contents_wholesale_symbiont")%>
							<% if @purchase %>
										<% if @purchase.incomplete_symbiont %>
							                     <%= render(:partial => "cart/please_complete_order")  %>
										<% else %>
												  <%= render(:partial => "cart/cart_bottom_totals_wholesale")  %>
										<% end %>
							<% end %>
            <% else  # Retail Order   %>
                     <%= render(:partial => "cart/display_cart_contents")%>
					 <% if @purchase %>
					 				<% if @purchase.incomplete_symbiont %>
                    							 <%= render(:partial => "cart/please_complete_order") %>
									<% else %>
										 		<% if @purchase.has_on_hold_entries? %>
										 			 <%= render(:partial => "cart/please_complete_on_hold_items") %>
										 		<% else %>
										 			<%= render(:partial => "cart/cart_bottom_totals")  %>
										 		<% end %>


									<% end %>
					<% end %>
            <% end %>


<%   if @purchase   %>
			 <%   if @purchase.cart_count > 0   %>
						<%  unless @incomplete_symbiont or @purchase.has_on_hold_entries?  %>
								<div style="text-align:center;width:850px;"><%=  link_to image_tag( '/images/buttons/proceed_to_checkout_gold.gif',:border => 0) ,:controller => 'cart', :action => 'next_checkout_step'   %></div>
						<% end  %>
			 <% end  %>
<% end  %>



<% else %>
ttttsss
<% end %>

</div>
