
         <% @items_to_get = '@items_' + choice_type -%>
        <div  class="category_items">


                      <%= render :partial => "specsheet_advanced/category_items_pagination" ,:locals => {:choice_type => choice_type } %>


                        <table id="<%= choice_type %>_designs_table" class="designs_table" >
                          <tr>
                             <td> <%= image_tag(  '/images/item_specsheets/0.png'  , :width => '280' ,:alt =>  "/images/item_specsheets/00.png"  , :class => choice_type + '_design' ) %></td>
                             <td>

                              <%=   image_tag(  '/images/icons/my-custom-designs.png'  , :height => '120' ,:alt =>  "My Customs"  , :class =>  'custom_designs_selector' , :border => 0  )     %>

                             </td>
                             <td>

                                <%= link_to_function( image_tag('/images/icons/solid-colors.png',:border => 0 ), "Element.toggle('background_color_choices'),  update_current_design_target('background_color')    ") %>

                             </td>



                            <%  instance_variable_get( @items_to_get ).each do |design| %>
                                         <td> <%= image_tag(  '/images/item_specsheets/' + design.PictureName   , :width => '280' ,:alt =>  design.PictureName  , :class => choice_type + '_design' ) %></td>
                             <% end %>
                          </tr>
                        </table>

                        <%= render :partial => "specsheet_advanced/category_items_pagination" ,:locals => {:choice_type => choice_type } %>


              </div>
