<h1>Listing advancements</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advancements.each do |advancement| %>
  <tr>
    <td><%= advancement.name %></td>
    <td><%= advancement.description %></td>
    <td><%= link_to 'Show', advancement %></td>
    <td><%= link_to 'Edit', edit_advancement_path(advancement) %></td>
    <td><%= link_to 'Destroy', advancement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advancement', new_advancement_path %>
