<% status_color = 'red'  %>
<% status_color = 'green' if status == "Success" %>


<span style="color:<%= status_color %>;" id="update_message_<%= side %>">
  <%= side.capitalize %> update <%= status %>.
</span>

 <script type="text/javascript">

    $("save_changes_item_<%=  side %>").disabled = true;
  

</script>
