<% @department_id = @department.id if @department %>

<table class="specsheet_choices" >
  <tr>
                <td>
                        <%= button_to "Back one page" , :back  %>
                </td>
  		<td>
				<%=  form_tag( 'add_to_cart' , :method => :put )  do %>

                                  <%= render :partial => "specsheet_form_fields" %>

					<%= submit_tag('Choose')   if  @required_form_elements.include?('button_choose')     %>			
					<%= submit_tag('Choose this Item')   if  @required_form_elements.include?('button_choose_this_item')     %>
					<%= submit_tag('Choose this Decoration')  if  @required_form_elements.include?('button_choose_this_design')  %>
					<%= submit_tag('Submit')   if  @required_form_elements.include?('button_change_size_or_color')  %>
	

			<%  end  %>
		</td>
		<td>			
					<%= button_to('Choose a different Decoration',:action => 'category_browser')  if  @required_form_elements.include?('button_choose_this_design')  %> 
		</td>
</tr>
</table>


<% logger.debug "-----------------------------END specsheet_choices" %>