

<label for="query" style="display: none;">Articles  search:</label>
 <input type="search" name="search_query" id="search_query"  placeholder="Search articles" >   <span class="ui-icon ui-icon-search ui-icon-shadow">&nbsp;</span>

<ul data-role="listview">
      <li data-icon="search"><a href="#"  id="search_heritage_news" class="articles_search_button ui-btn ui-btn-b">Search  heritage news</a></li>
      <li data-icon="search"><a href="#"  id="search_interesting_emails"  class="articles_search_button ui-btn ui-btn-b">Search interesting emails</a></li>
      <li data-icon="search"><a href="#"   id="search_southern_history"  class="articles_search_button ui-btn ui-btn-b">Search Southern history</a></li>
      <li data-icon="search"><a href="#"   id="search_items"  class="articles_search_button ui-btn ui-btn-b">Search Items</a></li>
      <li data-icon="search"><a href="#"   id="search_designs"  class="articles_search_button ui-btn ui-btn-b">Search Designs</a></li>
</ul>

<% if @articles %>
                        <!--@articles-->
                        <style type="text/css">
                            .page_name <  a {
                                color: white;
                            }
                        </style>

                        <div id="search_results_container" style="text-align:left;min-height:200px;background-color:white;padding:15px;">
                                              <div class="modal_search_form_container" style="text-align:center;">

                                                                <div class="container">
                                                                  Increasing relevant keywords will improve your search.
                                                                </div>


                                                                <div class="container">
                                                                              <% if @revisions  %>
                                                                                  Search found <%= @revisions.size  %>   results.<br />
                                                                              <% else %>
                                                                                  Search did not find any articles matching your keywords. Try different keywords.<br />
                                                                              <% end  %>
                                                                </div>
                                              </div>

                                             <div style="text-align: center;font-size:19px;font-weight: bold;">
                                                         <% if params[:search_type_name] == "search_heritage_news" %>
                                                                                        Southern Heritage News Results
                                                        <% elsif params[:search_type_name] == "search_interesting_emails" %>
                                                                                        Interesting Emails Results
                                                        <% elsif params[:search_type_name] == "search_southern_history" %>
                                                                                        Southern History Results
                                                         <% elsif params[:search_type_name] == "designs" %>
                                                                                      Design Results
                                                        <% else %>
                                                                                      item  Results
                                                         <% end %>
                                             </div>





                                              <% @revision_ids = Set.new %>
                                              <%   @revisions.each do |revision| %>
                                                              <%# unless @revision_ids.include?(  revision.id )  %>
                                                              <% @revision = revision %>
                                                              <% @revision_ids.add?(  revision.id )  %>
                                                              <div class="page_content_capsule">
                                                                            <div class="page_name">
                                                                              <strong>
                                                                                Keywords Hit: <%= revision.total_column  %> ---
                                                                                <%= revision.name  %>
                                                                                <!----- Released:  -->
                                                                                <%#= time_ago_in_words(  revision.created_at,  include_seconds = false ) %>  <%#=  revision.created_at  %><br />
                                                                                <%#= link_to "See related pages and categories" ,:controller => 'page', :action => 'show',:id => revision.slug       %>
                                                                              </strong>
                                                                            </div>
                                                                            <div class="page_yield">
                                                                                        <%= highlight( revision.content , params[:query].split(" ") , :highlighter => '<strong class="highlight">\1</strong>' ) %>
                                                                            </div>
                                                              </div>
                                                              <%# end %>
                                              <% end %>





                                                <%= will_paginate @revisions  , :params => { :query => params[:query], :search_type_name => params[:search_type_name] }   %>


                        </div>
<% else %>
                 <div style="width: 100%;height: 200px;text-align: center;margin: 15px;"> Use the search field above to search the website.   </div>
<% end %>