

<% item_prefix_override = nil %>
 <table id="border_table" border="2" width="1000">
 	<td>
				 <table id="specsheet_table" cellpadding="0" border="0" background="<%=  item.image_url( @local_department  , '/images/item_specsheets/', 'x' ,item_prefix_override )   %>" width="720" height="353" style="background-repeat: no-repeat;">	
					<tr>
					<td>
						<img src="/images/item_specsheets/<%= design.PictureName %>" 
						 alt="<%= design.PictureName %>"     
						 style=" position: relative; 
						 height:<%=   @combination_height     %>px;
						 left:<%=     @combination_left     %>px;
						 top:<%=    @combination_top   %>px;
						 " />
					</td>
				<% if @breast_print == true %>
					<td>
						<img src="/images/breast_prints/<%=  @breast_print_name   %>" 
						 alt="<%= @breast_print_name %>"     
						 style=" position: relative; 
						 height:<%=   @combination_bp_height   %>px;
						 left:<%=     @combination_bp_left    %>px;
						 top:<%=    @combination_bp_top     %>px;
						 " />
					</td>
				<% end %>
					</tr>
				</table>	
	</td>
	<td width="290">
			<table border="1">
				<tr>
					<td width="280"><%=  item.image_url( @local_department  , '/images/item_specsheets/', 'x' ,item_prefix_override )   %></td>
				</tr>	
				<tr>
					<td width="280">breast_print_name:<%=  @breast_print_name   %></td>
				</tr>	
				<tr>
					<td width="280">item.category.id:<%=  item.category.id   %></td>
				</tr>
				<tr>
					<td width="280">design.category.id:<%=  design.category.id   %></td>
				</tr>	
				<tr>
					<td width="280">item & design bp turned on? 
						<% if design.category.breast_print == '1' && item.category.breast_print == '1'  %>
							<%= image_tag("/images/buttons/checkmark-green.jpg",:size => "20x20") %>
						<% else %>
							<%= image_tag("/images/buttons/cancel-x-mark-red.jpg",:size => "20x20") %>
						<% end %>
					</td>
				</tr>	

<%  form_for:category, item.category , :url => { :controller => "combinations", :action => "update" } do |f|  %>	
			<%= hidden_field_tag "id", @combination.id %>










				<tr>
					<td width="280">Compatible Combination?
						 <% if Combination.compatible_symbiont?(item, design)  %>
						 	<%= image_tag("/images/buttons/checkmark-green.jpg",:size => "20x20") %>
						<% else %>
							<%= image_tag("/images/buttons/cancel-x-mark-red.jpg",:size => "20x20") %>
						<% end %>
					 </td>
				</tr>	
				<tr>
					<td width="280">item_prefix</td>
				</tr>	
				<tr>
					<td width="280">design_prefix</td>
				</tr>	
			<%  form_for:combination, @combination , :url => { :controller => "combinations", :action => "update" } do |f|  %>	
			<%= hidden_field_tag "id", @combination.id %>
				<tr>
					<td width="280"><%= f.text_field( :item_prefix_override ,:size => 2 ) %>--item_prefix_override</td>
				</tr>	
				<tr>
					<td width="280"><%= f.text_field( :left ,:size => 4 ) %>--left</td>
				</tr>	
				<tr>
					<td width="280"><%= f.text_field( :top ,:size => 4 ) %>--top</td>
				</tr>
				<tr>
					<td width="280"><%= f.text_field( :height ,:size => 4 ) %>--height</td>
				</tr>	
				<tr>
					<td width="280"><%= f.text_field( :bp_left ,:size => 4 ) %>--bp_left</td>
				</tr>
				<tr>
					<td width="280"><%= f.text_field( :bp_top ,:size => 4 ) %>--bp_top</td>
				</tr>	
				<tr>
					<td width="280"><%= f.text_field( :bp_height ,:size => 4 ) %>--bp_height</td>
				</tr>
				<tr>
					<td width="280">Verified Correct?
						 <%= f.text_field( :verified_correct ,:size => 1 ) %>
						 <% if @combination.verified_correct == 1  %>
						 	<%= image_tag("/images/buttons/checkmark-green.jpg",:size => "20x20") %>
						<% else %>
							<%= image_tag("/images/buttons/cancel-x-mark-red.jpg",:size => "20x20") %>
						<% end %>
					 </td>
				</tr>
				<tr>
					<td width="280"><%= submit_tag('Update Combination') %></td>
				</tr>	
			</table>
	 </td>
</table>										
<%  end  %> 														 
			







