<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="float:left;width:300px;">
    <%= f.label :ItemLookupCode %><br />
    <%= f.text_field :ItemLookupCode %>
  </div>

  <div class="field">
    <%= f.label "Short Description that shows on the Web" %><br />
    <%= f.text_field :Description, :size => 60  %>
  </div>

  <div class="field" style="float:left;">
    <%= f.label "Extended Description that shows on the Web" %><br />
    <%= f.text_area :ExtendedDescription, :size => 60  %>
  </div>


  <div class="field">
    <%= f.label :Keywords %><br />
    <%= f.text_area :Notes %>
  </div>


  <div class="field">
    <%= f.label :PictureName %><br />
    <%= f.text_field :PictureName %>
  </div>
<br/>

  <div class="field" style="float:left; width: 300px;">
    <%= f.label "Inactive" %><br />
    <%= f.check_box :Inactive, :size => 60  %>
  </div>

  <div class="field" style="float:left;width:300px;">
    <%= f.label "Web Item" %><br />
    <%= f.check_box :WebItem, :size => 60  %>
  </div>
<br/><br/><br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
