

<table class="price_sheet" width="1000" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <th colspan="20" class="yellow" scope="col">Product Listing for Image Check</th>
	  </tr>
  <tr>
	    <th class="lightblue" scope="col">Info</th>
	    <th class="wheat" scope="col">thumbnail image</th>
		<th class="lightgreen" scope="col">specsheet image</th>
  </tr>


	                            <% for item in   @items        %>
									   		<tr>
											    <td class="lightblue">
													ItemLookupCode::<%= item.ItemLookupCode  %><br />
													Color::<%= item.color  %><br />
													category_id:: <%= item.category_id     %><br />
													cat class id ::<%= item.category.category_class_id    %><br />
													cat class  item_type:: <%= item.category.category_class.item_type    %>
												</td> 
											    <td class="wheat"><%= image_tag item.image_url(@local_department, 'item_thumbnails/')    %></td>
											    <td class="lightgreen"><%= image_tag item.image_url(@local_department, 'item_specsheets/')    %></td>
										 	</tr>
	                               <% end %>            


 </table>