
<style type="text/css">
    .search_button {
        width:40px;
    }
</style>



<%= form_tag( '/items/search', :remote => true    , :onSubmit => "$('progress_bar_container').show();"       )  do %>
<select id="search_scope" name="search_scope" ><option value="Matches All">Matches All -(Less Results)</option><option value="Matches Any">Matches Any  - (Most Results)</option></select>
	   <%= text_field_tag("query", params[:query], :autocomplete => "off", :size => 50 ) %>

          <div id="progress_bar_container" style="display:none;"> <%= image_tag( '/images/icons/progress-bar.gif'   ) %> </div>
           <%= image_submit_tag('/images/buttons/48x48-search.png', :class => "search_button")  %>

           <%= link_to image_tag("/images/buttons/enter-new-film.png", :border => 0), new_item_path %>
    <%   end   %>



