
<br />

<br />

By adding the links/banners below to your website or email, you agree to be bound by our  <%= link_to  "Affiliate Terms and Conditions",:action => 'terms_and_conditions' %> <br />


<h3> Affiliate Link  - (Easiest way to get started) </h3> <br />


Copy and paste this code into your email or add it to your webpage.<br />
<%= text_field_tag("website_url", 'http://' + @website.domain + '/?a_id=' + @user.a_id   ,:size => "60" ) %>

<br />
<br />
<br />
<div align="center"><%= image_tag("/uploads/Image/shared_affiliate/affiliate-banners.png") %></div>
<br />


<% banner_string = "<a href=\"http://" + @website.domain + "/?a_id=" + @user.a_id + "\" target=\"_blank\"><img src=\"http://" + @website.domain + "/uploads/Image/shared_affiliate/" + @website.name + "_banner.jpg\" width=\"246\" height=\"80\" alt=\"http://" + @website.domain + "\" border=\"0\" /></a>"  %>

Banner-Standard:<br />
<%= banner_string.html_safe %> <br />

Banner-Standard-Code: <br />
<%= text_area_tag("website_url", banner_string  ,:rows => "3", :cols => "100" ) %> <br />
<br />


<% if @website.name == "dixie_store" -%>
						<% 8.times do |numb| %>
										<% unless numb == 0 %>
											<% banner_string = "<a href=\"http://" + @website.domain + "/?a_id=" + @user.a_id + "\" target=\"_blank\"><img src=\"http://" + @website.domain + "/uploads/Image/shared_affiliate/" + @website.name + "_" + numb.to_s  + ".png\" width=\"436\" height=\"119\" alt=\"http://" + @website.domain + "\" border=\"0\" /></a>"  %>
											Banner-Standard:<br />
											<%= banner_string.to_s %> <br />
											Banner-Standard-Code: <br />
											<%= text_area_tag("website_url", banner_string  ,:rows => "3", :cols => "100" ) %> <br />
											<br />
										<% end %>				
				<% end %>

						<% ['square-family','square-forrest','square-horse','square-jackson'].each do |numb| %>
										<% unless numb == 0 %>
											<% banner_string = "<a href=\"http://" + @website.domain + "/?a_id=" + @user.a_id + "\" target=\"_blank\"><img src=\"http://" + @website.domain + "/uploads/Image/shared_affiliate/" + @website.name + "_" + numb.to_s  + ".png\" width=\"240\" height=\"240\" alt=\"http://" + @website.domain + "\" border=\"0\" /></a>"  %>
											Banner-Standard:<br />
											<%= banner_string.to_s %> <br />
											Banner-Standard-Code: <br />
											<%= text_area_tag("website_url", banner_string  ,:rows => "3", :cols => "100" ) %> <br />
											<br />
										<% end %>				
				<% end %>				
				
										<% ['vertical-boat','vertical-bull','vertical-coon'].each do |numb| %>
										<% unless numb == 0 %>
											<% banner_string = "<a href=\"http://" + @website.domain + "/?a_id=" + @user.a_id + "\" target=\"_blank\"><img src=\"http://" + @website.domain + "/uploads/Image/shared_affiliate/" + @website.name + "_" + numb.to_s  + ".png\" width=\"120\" height=\"300\" alt=\"http://" + @website.domain + "\" border=\"0\" /></a>"  %>
											Banner-Standard:<br />
											<%= banner_string.to_s %> <br />
											Banner-Standard-Code: <br />
											<%= text_area_tag("website_url", banner_string  ,:rows => "3", :cols => "100" ) %> <br />
											<br />
										<% end %>				
				<% end %>		
				
				
				
<% end %>


<br />
<br />
<br />
<div align="center"><%= image_tag("/uploads/Image/shared_affiliate/affiliate-recruiter-banners.png") %></div>
<br />

<% banner_string_fish = "<a href=\"http://" + @website.domain + "/affiliates?a_id=" + @user.a_id + "\" target=\"_blank\"><img src=\"http://" + @website.domain + "/uploads/Image/shared_affiliate/" + "program-information-fishing.png\" width=\"477\" height=\"255\" alt=\"http://" + @website.domain + "\" border=\"0\" /></a>"  %>

Banner-Fish:<br />
<%= banner_string_fish.html_safe %> <br />


Banner Fish Code: <br />
<%= text_area_tag("website_url", banner_string_fish  ,:rows => "3", :cols => "100" ) %> <br />
<br />




<% banner_string_bankroll = "<a href=\"http://" + @website.domain + "/affiliates?a_id=" + @user.a_id + "\" target=\"_blank\"><img src=\"http://" + @website.domain + "/uploads/Image/shared_affiliate/" + "program-information-bankroll.png\" width=\"477\" height=\"255\" alt=\"http://" + @website.domain + "\" border=\"0\" /></a>"  %>

Banner-Bankroll:<br />
<%= banner_string_bankroll.html_safe %> <br />


Banner Bankroll Code: <br />
<%= text_area_tag("website_url", banner_string_bankroll  ,:rows => "3", :cols => "100" ) %> <br />
<br />






<% banner_string_clothing = "<a href=\"http://" + @website.domain + "/affiliates?a_id=" + @user.a_id + "\" target=\"_blank\"><img src=\"http://" + @website.domain + "/uploads/Image/shared_affiliate/" + "program-information-clothing.png\" width=\"477\" height=\"255\" alt=\"http://" + @website.domain + "\" border=\"0\" /></a>"  %>

Banner-Clothing:<br />
<%= banner_string_clothing.html_safe %> <br />


Banner Clothing Code: <br />
<%= text_area_tag("website_url", banner_string_clothing  ,:rows => "3", :cols => "100" ) %> <br />
<br />
