
<% style_class = "non_qualifying_sale" %>

	<tr>
				<td  class="<%= style_class + "_date" %>">0</td>
				<td  class="<%= style_class %>">0</td>
				<td  class="<%= style_class %>">0</td>
				<td  class="<%= style_class %>">0</td>
				<td  class="<%= style_class %>">0</td>
				<td  class="<%= style_class %>">0</td>
				<td  class="<%= style_class %>">0</td>
				<td  class="<%= style_class %>">0</td>
	</tr>
