<div id="ajax_administer_breast_prints">
      <%     @items = Item.unscoped.order("ItemLookupCode ASC").includes(:category).where("categories.Name like ? and Inactive = ?",  'pocket prints' , false )   %>
      <span style="text-align: center;">
                <div style="font-size:17px;font-weight:bolder;color:red;">  You must refresh this page before your changes will be applied. </div>
                <div style="font-size:17px;font-weight:bolder;">  Listing Breast Prints to make available for <%=  @back_design.department.Name %>  </div>
                <div id="items_list">
                <% if @items %>
                                          <table>
                                            <tr>
                                               <th>ItemId</th>
                                              <th>ItemLookupCode</th>
                                              <th>Image</th>
                                              <th>Description</th>
                                              <th>SubDescription2</th>
                                               <th>Status</th>
                                            </tr>
                                          <% @items.each do |item| %>
                                            <tr>
                                              <td><%= item.id %></td>
                                              <td><%= item.ItemLookupCode %></td>
                                              <td><%=image_tag( '/images/item_thumbnails/' +  item.ItemLookupCode + '.png', :size => "100x100"  )%></td>
                                              <td><%= item.Description %></td>
                                              <td><%= item.SubDescription2 %></td>
                                               <td>
                                                 <div style="display:none;"  id="breast_print_status_update_progress_<%= item.id %>">   <%=image_tag( '/images/icons/spinner.gif', :size => "25x25"  )%>  </div>
                                                <% if @back_design_applicable_front_designs_ids.split(',').include?( item.id.to_s  )    %>
                                                          <%= link_to  image_tag( '/images/icons/true.jpg', :size => "25x25"  ,:border => 0 ,  :id => "breast_print_status_image_#{ item.id}" )  ,{  :controller => 'breast_prints', :action => 'ajax_update_breast_print_status', :item_id => item.id, :department_id => @back_design.department_id  }  ,:remote => true, :class => "yes-button"  , :onclick => "$('breast_print_status_update_progress_#{item.id}').show();"  %>
                                                <%  else  %>
                                                          <%= link_to  image_tag( '/images/icons/false.jpg', :size => "25x25"  ,:border => 0 ,  :id => "breast_print_status_image_#{ item.id}" )  ,{  :controller => 'breast_prints', :action => 'ajax_update_breast_print_status', :item_id => item.id, :department_id => @back_design.department_id  }  ,:remote => true, :class => "yes-button"  , :onclick => "$('breast_print_status_update_progress_#{item.id}').show();"  %>
                                                 <%  end  %>
                                               </td>
                                            </tr>
                                          <% end %>
                                          </table>
                                          <br />
                <% else  %>
                                          No Results Found!
                <% end  %>
                </div>
      </span>
</div>