

<!DOCTYPE html>
<html>
<%= render(:partial => "layout_elements/head") %>
  <%= render(:partial => "layout_elements/shared_dynamic_head") %>
      <body class="body">
          <%= yield %>
      </body>
</html>



































































<% if @basic %>

    <!DOCTYPE html>
    <html>
    <%= render(:partial => "layout_elements/head") %>
    <%= render(:partial => "layout_elements/shared_dynamic_head") %>




    <body class="body">

    <%= yield %>



    </body>
    </html>

<% end %>