<h1>New purchases_entry</h1>

<% form_for(@purchases_entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </p>
  <p>
    <%= f.label :ItemLookupCode %><br />
    <%= f.text_field :ItemLookupCode %>
  </p>
  <p>
    <%= f.label :Description %><br />
    <%= f.text_field :Description %>
  </p>
  <p>
    <%= f.label :QuantityRTD %><br />
    <%= f.text_field :QuantityRTD %>
  </p>
  <p>
    <%= f.label :QuantityOnOrder %><br />
    <%= f.text_field :QuantityOnOrder %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', purchases_entries_path %>