

<% @department_id = @department.id if @department %>

<table class="specsheet_choices" >
  <tr>

                <td>
                        <%= button_to "Back one page" , :back  %>
                </td>
                <td>


                  <% if @item and @design and @website.name == 'dixie_store' and  @design.category.id.to_s  != '801'   %>
                            <% if @item.category.prefix == 'rp' %>
                                      <form>
                                                  <%  @breast_prints = Item.find(:all, :include => "category", :conditions => [ "categories.Name like ? and Inactive = ?",  'pocket prints' , false ]    )      %>
                                                  <input type="button" value="Breast Prints" id="breast_prints_button" onclick="$('#breast_print_choices').show();" />
                                      </form>
                              <% end %>
                  <% end %>


                </td>
  		<td>
				<%=  form_tag( '/cart/add_to_cart' , :method => :put )  do %>
					<%=  select("item_class_component", "item_id", @item_class_components.collect {|p| [ p.dimensions , p.item_id ] } ,{:selected =>  @selected_item_id  } )      if  @required_form_elements.include?('icc_collection_select' )   %>
					<%#=  observe_field :item_class_component_item_id, :frequency => 2, :update => 'specsheet',  :url => { :action => 'update_specsheet',:design_id => @design , :department_id => @department_id ,:purchases_entry_id => @purchases_entry, :show_wide_specsheet => @show_wide_specsheet   } ,  :with => 'item_id'      if  @required_form_elements.include?('icc_collection_select' )        %>
					<%=  hidden_field_tag "department_id", @department_id     if  @required_form_elements.include?('hidden_department_id_field' )  if @department   %>  
					<%=  hidden_field_tag "item_id", @item.id     if  @required_form_elements.include?('hidden_item_id_field' )     %>  
					<%=  hidden_field_tag "add_combo",'1'     if  @required_form_elements.include?('hidden_add_combo_field' )     %>
					<%=  hidden_field_tag "design_id", @design.id     if  @required_form_elements.include?('hidden_design_id_field' )     %>
					<%=  hidden_field_tag "at_design", @design.id     if  @design     %>
					<%=  hidden_field_tag "purchases_entry_id", @purchases_entry.id    if  @required_form_elements.include?('hidden_purchases_entry_id_field' )      %>
                        <%= hidden_field_tag "breast_print_value", nil %>
					<%= submit_tag('Choose')   if  @required_form_elements.include?('button_choose')     %>			
					<%= submit_tag('Choose this Item')   if  @required_form_elements.include?('button_choose_this_item')     %>
					<%= submit_tag('Choose this Decoration')  if  @required_form_elements.include?('button_choose_this_design')  %>
					<%= submit_tag('Submit')   if  @required_form_elements.include?('button_change_size_or_color')  %>
	

			<%  end  %>
		</td>
		<td>			
					<%= button_to('Choose a different Decoration',:action => 'category_browser')  if  @required_form_elements.include?('button_choose_this_design')  %> 
		</td>
</tr>
</table>


<% logger.debug "-----------------------------END specsheet_choices" %>


