<div class='onclick_menu purchase_tracking'>
           <div class='onclick_menu_links'>
             	 <li>  <%= link_to 'All Orders' ,:controller => 'order_tracking'  %> </li>


             <% if @purchase %>
                             <li>  <%= link_to 'Current Order Checkout Review' ,:controller => 'purchases',:action => 'checkout_review'  %></li>
             <% else %>
                             <li>  <%= link_to 'This Order' ,:controller => 'order_tracking',:action => 'this_order'   %></li>
             <% end  %>

		 <li>  <%= link_to 'Last Order' ,:controller => 'order_tracking',:action => 'this_order'   %></li>
           </div>
  
            <div class="onclick_menu_label"> <%= link_to image_tag('/images/menu_icons_and_labels/order-tracking.png',:width => '400'  , :class => 'no_border'), :controller => 'order_tracking' %></div>

</div>



