

<%= hidden_field_tag "side" ,  params[:side ]%>

<%= hidden_field_tag "purchases_entry_id" ,  params[:purchases_entry_id ]%>

<%= hidden_field_tag "design_id" ,  params[:design_id ]%>

<%= hidden_field_tag "department_id" ,  params[:department_id ]%>

<%= hidden_field_tag "main_design_id" ,  params[:main_design_id ]%>

<%= hidden_field_tag "item_class_component_item_id" ,  params[:item_class_component_item_id ]%>

<%= hidden_field_tag "parameter_item_id" ,  params[:parameter_item_id ]%>

<%= hidden_field_tag "specsheet_url"  %>

<%= hidden_field_tag "referral_url" ,  request.referer %>


<%= hidden_field_tag "chosen_crest_image" , "" %>
<%= hidden_field_tag "crest_item_lookup_code" , "" %>

     <%     @other_crest_prints  = Item.includes(:category).where("categories.Name like ? and Inactive = ?",  'pocket prints' , false )   %>
<%#= link_to "Toggle admin crest prints", "#",  :onclick => "$('.admin_crest_print').toggle();" if admin? %>

     <% @already_show_cp_item_ids = Set.new %>
     <ul id="available_crest_prints" class="thumbnails" data-role="listview" >
                           <li data-role="list-divider">Available crest prints</li>

                           <% @main_design.applicable_crest_prints.each do |item| %>
                                               <% @already_show_cp_item_ids.add( item.id ) %>
                                               <% crest_image_url =  'http://cdn.dixieoutfitters.com/images/item_thumbnails/' +  item.ItemLookupCode + '.png'    %>
                                               <li class="item_choice" style="list-style-type: none;">
                                                                 <a href="#" class="acrest_print"  data-id="<%= item.id %>">
                                                                                   <%= image_tag( crest_image_url , :size => "100x100"   )%>
                                                                                   <h3> <%= item.ItemLookupCode %> - <%= item.Description %></h3>
                                                                 </a>
                                               </li>
                           <% end %>
                           <li class="item_choice" style="list-style-type: none;">
                                             <a href="#" class="acrest_print"  data-id="0">
                                                               <% crest_image_url =  'http://cdn.dixieoutfitters.com/images/item_thumbnails/no_crest.jpg'    %>
                                                               <%= image_tag( crest_image_url , :size => "100x100"   )%>
                                                               <h3> No crest print</h3>
                                             </a>
                           </li>


     </ul>



