

<%   if @default_quantity %>
                <% if @default_quantity and @default_quantity > 1   %>
                                        <label for="purchases_entries_QuantityOnOrder"  style="display:none;">Quantity:</label>
                                        <input type="text" name="purchases_entries[QuantityOnOrder]" id="purchases_entries_QuantityOnOrder" placeholder="Quantity: <%=  @default_quantity.to_i.to_s  %>" value="<%=  @default_quantity.to_i.to_s  %>">
                <% else%>
                                    <label for="purchases_entries_QuantityOnOrder"  style="display:none;">Quantity:</label>
                                    <input type="text" name="purchases_entries[QuantityOnOrder]" id="purchases_entries_QuantityOnOrder" placeholder="Quantity: 1" value="1">
                <% end %>
  <% else %>

                 <% badd_no_default_quantity %>

  <% end %>




<% @debugging_price = false %>
<% if @debugging_price %>

    <br>
    ----------------       <br>
    <% logger.debug "HERE HERE HERE HERE HERE" %>

    @default_quantity.to_s :<%=    @default_quantity.to_s  %> <br>
    @item.your_unit_price(@customer_array, <%=    @default_quantity  %>   ) :<%=    @item.your_unit_price(@customer_array,     @default_quantity     )   %> <br>
    @item.quantity_discount.to_yaml :<%=    @item.quantity_discount.to_yaml    %> <br>


    @item.your_unit_price(@customer_array, <%=    @default_quantity  %>, "sublim9"   ) :<%=    @item.your_unit_price(@customer_array, @default_quantity , "sublim9"     )   %> <br>

    <% logger.debug "HERE HERE HERE HERE HERE" %>
    --------------     <br>
    <br>

<% end %>