
<%      @item_advanced_combination = AdvancedCombination.find_or_create_combo( @item, '0' )   if @item and  @item.item_class_component %>



<span id='specsheet'>

  <% if @item_advanced_combination %>
             <% if @item  && @design  %>
                                  <% if @item_advanced_combination.specsheet_type_id  == 1 %>
                                                                                    <% if @item_advanced_combination.number_of_sides ==  1 %>
                                                                                                             <%= render(:partial => 'specsheet/table_at_item_and_design_one_side_legacy')     %>
                                                                                     <% else %>
                                                                                                               <%= render(:partial => 'specsheet/table_at_item_and_design_two_sides_legacy')     %>
                                                                                       <% end %>
                                   <% else %>
                                                                                      <% if @item_advanced_combination.number_of_sides ==  1 %>
                                                                                                                            <%= render(:partial => 'specsheet/table_at_item_and_design_one_side_latest')     %>
                                                                                       <% else %>
                                                                                                                            <%= render(:partial => 'specsheet/table_at_item_and_design_two_sides_latest')     %>
                                                                                       <% end %>
                                    <% end %>
             <% else %>
                                  <% if @item_advanced_combination.specsheet_type_id  == 1 %>
                                                                                    <% if @item_advanced_combination.number_of_sides ==  1 %>
                                                                                                             <%= render(:partial => 'specsheet/table_at_item_one_side_legacy')     %>
                                                                                     <% else %>
                                                                                                               <%= render(:partial => 'specsheet/table_at_item_two_sides_legacy')     %>
                                                                                       <% end %>
                                   <% else %>
                                                                                      <% if @item_advanced_combination.number_of_sides ==  1 %>
                                                                                                              <%= render(:partial => 'specsheet/table_at_item_one_side_latest')     %>
                                                                                       <% else %>
                                                                                                              <%= render(:partial => 'specsheet/table_at_item_two_sides_latest')     %>
                                                                                       <% end %>
                                    <% end %>
              <% end %>
 <% else %>
                                    <%= render(:partial => 'specsheet/table_at_item_one_side_legacy')     %>
  <% end %>
    </span>


