<!-- begin  form /cart/add_to_cart --><!-- begin  form /cart/add_to_cart --><!-- begin  form /cart/add_to_cart --><!-- begin  form /cart/add_to_cart --><!-- begin  form /cart/add_to_cart --><!-- begin  form /cart/add_to_cart -->


<% if @sublimation %>

    <div class="ui-bar ui-bar-a wholesale_message" style="display: none;">
                  <h3>Oversize Sublimation Transfers</h3>
                  <p>Heat  press must be capable of pressing 15" x 19". Requires white/light colored garment with  at least 50% polyester content.</p>
    </div>

 <% end %>



<%=  form_tag( '/cart/add_to_cart' , :method => :put )  do %>

                        <% if @sublimation %>
                                                <%=  hidden_field_tag "sublimation",  "subl"  %>
                        <% else %>
                                                <%=  hidden_field_tag "sublimation",  "plas"  %>
                        <% end %>


                            <!--hidden submit_tag referenced by javascripts from popups,etc.--><!--hidden submit_tag referenced by javascripts from popups,etc.--><!--hidden submit_tag referenced by javascripts from popups,etc.--><!--hidden submit_tag referenced by javascripts from popups,etc.--><!--hidden submit_tag referenced by javascripts from popups,etc.-->
                            <%=  submit_tag 'special_submit' , :id => "special_submit" , :style=> "display:none;",     data: { role: "none"}      %>
                            <!--hidden links mostly clicked by javascripts from popups--><!--hidden links mostly clicked by javascripts from popups--><!--hidden links mostly clicked by javascripts from popups--><!--hidden links mostly clicked by javascripts from popups--><!--hidden links mostly clicked by javascripts from popups-->
                            <a href="#"  style="display:none !important;" class="breast_prints_link"  id="breast_prints_link" data-role="button">Breast  prints</a>

                            <!--begin hidden_field_tags--><!--begin hidden_field_tags--><!--begin hidden_field_tags--><!--begin hidden_field_tags--><!--begin hidden_field_tags-->
                            <%=  hidden_field_tag "add_to_cart_type", "normal"   %>
                             <%= hidden_field_tag "side", @side  %>
                            <%=  hidden_field_tag "department_id", @department.id     if  @required_form_elements.include?('hidden_department_id_field' )  if @department   %>
                            <%=  hidden_field_tag "item_id", @item.id     if  @item     %>
                            <%#=  hidden_field_tag "the_parameter_item_id", @parameter_item.id  if @parameter_item        %>
                            <%=  hidden_field_tag "add_combo",'1'     if  @required_form_elements.include?('hidden_add_combo_field' )     %>
                            <%#=  hidden_field_tag "design_id", @design.id     if  @required_form_elements.include?('hidden_design_id_field' )     %>
                            <%=  hidden_field_tag "design_id", @design.id     if  @design     %>

                            <% if  @purchases_entry  %>
                                                    <%=  hidden_field_tag "purchases_entry_id", @purchases_entry.id      %>
                            <% elsif @purchase and @purchase.symbiote %>
                                                    <%=  hidden_field_tag "purchases_entry_id", @purchase.symbiote.id       %>
                            <% end %>

                            <%=  hidden_field_tag "crest_id",  @breast_print.id if @breast_print  %>
                            <%=  hidden_field_tag "show_wide_specsheet", @show_wide_specsheet  %>
                            <%=  hidden_field_tag "back_design_id", @back_design.id  if @back_design  %>
                            <!--end hidden_field_tags--> <!--end hidden_field_tags--> <!--end hidden_field_tags--> <!--end hidden_field_tags--> <!--end hidden_field_tags--> <!--end hidden_field_tags--> <!--end hidden_field_tags--> <!--end hidden_field_tags--> <!--end hidden_field_tags--> <!--end hidden_field_tags-->


                            <%   if  @required_form_elements.include?('button_choose_this_item') %>
                                                    <!--  incomplete symbiont with design master, waiting for item to complete  --> <!--  incomplete symbiont with design master, waiting for item to complete  --> <!--  incomplete symbiont with design master, waiting for item to complete  --> <!--  incomplete symbiont with design master, waiting for item to complete  -->
                                                    <%=  submit_tag 'Add item to Cart and complete', data: { role: "button", theme:'b' }    if  @required_form_elements.include?('button_choose_this_item')     %>
                                                    <%= render :partial => "change_options" %>
                            <% end %>

                            <%   if  @required_form_elements.include?('button_choose_this_design')  %>
                                                    <!--  incomplete symbiont with item  master, waiting for design  to complete  --><!--  incomplete symbiont with item  master, waiting for design  to complete  --><!--  incomplete symbiont with item  master, waiting for design  to complete  --><!--  incomplete symbiont with item  master, waiting for design  to complete  -->
                                                    <%=  submit_tag 'Add Design to Cart and complete',  data: { role: "button", theme:'b' }   %>
                                                    <%= render :partial => "change_options" %>
                            <% end %>

                            <%   if  @required_form_elements.include?('button_change_size_or_color') %>
                                                  <!--  purchases entry based --><!--  purchases entry based --><!--  purchases entry based --><!--  purchases entry based --><!--  purchases entry based --><!--  purchases entry based --><!--  purchases entry based --><!--  purchases entry based --><!--  purchases entry based --><!--  purchases entry based --><!--  purchases entry based -->
                                                   <%=  submit_tag 'Update',  data: { role: "button", theme:'b' }   %>
                                                    <%= render :partial => "change_options" %>
                            <% end %>


                            <% if params[:item_id] and params[:design_id] and   @required_form_elements.include?('button_choose')   %>
                                                  <!--   @item and @design  parameters based combination  --><!--   @item and @design  parameters based combination  --><!--   @item and @design  parameters based combination  --><!--   @item and @design  parameters based combination  --><!--   @item and @design  parameters based combination  -->
                                                   <%=  submit_tag 'Choose', data: { role: "button", theme:'b' }      %>

                                                   <%= render :partial => "change_options" %>

                            <% else %>
                                                      <%  if  @required_form_elements.include?('button_choose') %>
                                                                                        <!--   singular item or item without combination shown   -->  <!--   singular item or item without combination shown   -->  <!--   singular item or item without combination shown   -->  <!--   singular item or item without combination shown   -->  <!--   singular item or item without combination shown   -->
                                                                                        <%=  submit_tag 'Choose', data: { role: "button", theme:'b' }    if  @required_form_elements.include?('button_choose')     %>
                                                     <% end %>
                            <% end %>


                            <% if  @required_form_elements.include?('button_update_this_item')  %>
                                                    <!--    @purchases_entry with incomplete symbiont   --> <!--    @purchases_entry with incomplete symbiont   --> <!--    @purchases_entry with incomplete symbiont   --> <!--    @purchases_entry with incomplete symbiont   --> <!--    @purchases_entry with incomplete symbiont   --> <!--    @purchases_entry with incomplete symbiont   -->
                                                    <%=  submit_tag 'Update Item', data: { role: "button", theme:'b' }     %>
                            <% end  %>


                            <%= render "specsheet/icc_collection_select" %>



<% end %>

<!--  end  form /cart/add_to_cart --><!--  end  form /cart/add_to_cart --><!--  end  form /cart/add_to_cart --><!--  end  form /cart/add_to_cart --><!--  end  form /cart/add_to_cart --><!--  end  form /cart/add_to_cart --><!--  end  form /cart/add_to_cart --><!--  end  form /cart/add_to_cart -->



