
<%#  @item_advanced_combination = AdvancedCombination.find_or_create_combo( @item, '0' )    %>

<%#= render :partial => "administer_size_and_position" %>





<%#= @department.Name  %>
<%# if @item and @design and @website.name == 'dixie_store' and  @design.category.id.to_s  != '801'   %>
            <%#  @breast_prints = Item.includes(:category).where("categories.Name like ? and Inactive = ?",  'pocket prints' , false  )      %>
<%# end %>
<%# logger.warn "view @specsheet_fragment_name.inspect: " +  @specsheet_fragment_name.inspect %>


<%# @cache = false %>


<%#= cache(@specsheet_fragment_name,  :if =>   @cache != false  )  do %>

    <%# logger.warn "CACHING: NOT READING CACHE"  %>

	<%#= render(:partial => "administration_specsheet/specsheet_admin") if admin?  %>


<%= render(:partial => "specsheet/specsheet_image") %>

<%= render(:partial => "specsheet/specsheet_choices") %>

<%= render(:partial => "specsheet/specsheet_details") %>
<%# end %>

<% @show_admin = false %>

<%= render :partial => "administer_size_and_position" if admin?  %>


<div id="share_product"></div>




 <% if @oldd %>

    <a name="fb_share" type="button" href="https://www.facebook.com/dialog/feed?app_id=120689167949854&redirect_uri=http://dixieoutfitters.net&link=http://dixieoutfitters.net&picture=http://placekitten.com/500/500&caption=thecaption&description=thedescription&properties={text:’value1′,key2:’value2′}&actions={name:'I LOVE SCOTCH',link:'http://dixieoutfitters.net'}">share</a>



    <!--<a name="fb_share" type="button" href="http://www.facebook.com/sharer.php?p[url]=http%3A%2F%2Fdixieoutfitters.net%2Fp%2Fmission-statement&p[images][0]=http%3A%2F%2Fdixieoutfitters.net%2Fimages%2Ftest-facebook.png&p[title]=testdescription" class="joinFB">Share Your Advertise</a>-->

    <a name="fb_share" type="button" href="http://www.facebook.com/sharer.php?s=100&p[url]=http://dixieoutfitters.net&p[images][0]=http%3A%2F%2Fdixieoutfitters.net%2Fimages%2Ftest-facebook.png" class="joinFB">Share Your Advertise</a>






    <a href="#share_product" data-rel="popup" data-position-to="window" data-transition="pop" data-role="button">Share this product   </a>


    <div data-role="popup" id="share_product" onclick="specsheetUrl();">
      <p>Click here to copy this link:</p>
      <%= text_field_tag "specsheet_url"  %>

      <a href="index.html" data-rel="back"  data-role="button" data-icon="arrow-l" data-iconpos="left" data-theme="a"  class="no_loader">Cancel</a>
    </div>







    <meta property="og:image" content="http://dixieoutfitters.net/images/test-facebook.png"/>
    <div id="share_product"></div>




    <a href="https://www.facebook.com/dialog/feed?app_id=226748507396925&display=popup&caption=An%20example%20caption&link=https%3A%2F%2Fdixieoutfitters.net&redirect_uri=https://dixieoutfitters.net" data-role="button">share</a>








    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=226748507396925&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <meta property="og:title" content="Facebook Open Graph META Tags"/>
    <meta property="og:image" content="http://davidwalsh.name/wp-content/themes/klass/img/facebooklogo.png"/>
    <meta property="og:site_name" content="David Walsh Blog"/>
    <meta property="og:description" content="Facebook's Open Graph protocol allows for web developers to turn their websites into Facebook "graph" objects, allowing a certain level of customization over how information is carried over from a non-Facebook website to Facebook when a page is 'recommended', 'liked', or just generally shared."/>


    <div class="fb-like" data-href="http://dixieoutfitters.net" data-layout="button" data-action="recommend" data-show-faces="true" data-share="true"></div>












    <meta property="og:title" content="Facebook Open Graph META Tags"/>
    <meta property="og:image" content="http://davidwalsh.name/wp-content/themes/klass/img/facebooklogo.png"/>
    <meta property="og:site_name" content="David Walsh Blog"/>
    <meta property="og:description" content="Facebook's Open Graph protocol allows for web developers to turn their websites into Facebook "graph" objects, allowing a certain level of customization over how information is carried over from a non-Facebook website to Facebook when a page is 'recommended', 'liked', or just generally shared."/>


    <div id="share_product"></div>




<a href="#share_product" data-rel="popup" data-position-to="window" data-transition="pop" data-role="button">Share this product   </a>


<div data-role="popup" id="share_product" data-theme="a" data-overlay-theme="b" class="ui-content" style="max-width:600px; padding-bottom:2em;" onclick="specsheetUrl();">
                  <p>Click here to copy this link:</p>
                  <%= text_field_tag "specsheet_url"  %>

                  <a href="index.html" data-rel="back"  data-role="button" data-icon="arrow-l" data-iconpos="left" data-theme="a"  class="no_loader">Cancel</a>
</div>



<% end %>


