

<%= link_to "Back" , :back   ,:class => "ui-btn"  %>

<%= render(:partial => "specsheet/specsheet_image") %>

<%= render(:partial => "specsheet/specsheet_choices") %>

<%= render(:partial => "specsheet/specsheet_details") %>
<%# end %>

<% @show_admin = false %>

<%= render :partial => "administer_size_and_position" if admin?  %>


<div id="share_product"></div>










