<div class="ship_to_review">

<p>
  <b>Company:</b>
  <%=h @ship_to.Company %>
</p>

<p>
  <b>Name:</b>
  <%=h @ship_to.Name %>
</p>

<p>
  <b>Address:</b>
  <%=h @ship_to.Address %>
</p>

<p>
  <b>Address2:</b>
  <%=h @ship_to.Address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @ship_to.City %>
</p>

<p>
  <b>State:</b>
  <%=h @ship_to.State %>
</p>

<p>
  <b>Zip:</b>
  <%=h @ship_to.Zip %>
</p>

<p>
  <b>Country:</b>
  <%=h @ship_to.Country %>
</p>

<p>
  <b>Phonenumber:</b>
  <%=h @ship_to.PhoneNumber %>
</p>

<%   hide_from_receipt_page do   %>
		<%= link_to 'Edit', edit_ship_to_path(@ship_to) %> |
		<%= link_to 'Show all my Ship To choices', ship_tos_path %>
<%  end  %>

</div>