
                   <h3>Edit your password</h3>

                        <%= errors_for(@user, "Opps, unable to edit password").html_safe if @user %>

                        <%= form_for  @user, :url => { :action => "edit_password" } do |f| -%>


                    <p><label for="password">New Password: </label>
                    <%= f.password_field :password  %></p>

                    <p><label for="password_confirmation">Confirm Password: </label>
                    <%= f.password_field :password_confirmation %></p>


                    <p>
                      <%#= submit_tag 'Apply password change' %>

                      <%= button_tag(type: "submit", class: "btn btn-primary"  ) do %>
                          Apply password change <i class="icon-repeat"></i>
                      <% end    %>



                    </p>
                    <% end -%>

                    <%= link_to "Cancel", "/account", :class => "btn btn-default" %>

		
