<%= render :partial => 'breadcrumb', :locals => {:crumb => 'department'} %>

<div class="alert alert-info" style="display: none;"><a class="close" data-dismiss="alert" href="#">&times;</a>Your design choices are limited based on your chosen garment.</div>


<%= render :partial => 'store/menu_show_designs_for' %>


<div class="store_department_category_list bs-docs-grid">
                            <% @website.default_all_departments.each do |department| %>
                                                <% department_child_category_ids = []  %>
                                                <% department.categories_and_additive_categories.each do |cat| %>
                                                    <% department_child_category_ids << cat.id  if cat.items and cat.items.size > 0  %>
                                                <% end %>
                                                <% department_child_category_ids = department_child_category_ids.join(',') %>
                                                <div class="grid_department department_div department_<%= department.id %>" data-department_id="<%= department.id %>" data-child_category_ids="<%= department_child_category_ids %>">
                                                              <%= department.Name %>
                                                              <%= image_tag( '/images/department_description_headers/' +  @website.name + '-' +  Util::Slug.generate(  department.Name )  + '.png')  unless @incomplete_symbiont %>
                                                                              <% department.categories_and_additive_categories.sort_by{|x| x.Name}.each do |category| %>
                                                                                               <%   if category.items and category.items.size > 0 %>
                                                                                                                  <div class="department_<%= department.id %>_category department_<%= department.id %> btn btn-default" style="" data-applicable="0"   data-department_id="<%= department.id %>" data-category_id="<%= category.id %>">
                                                                                                                                <a class="btn btn-default" href="#"  data-department_id="<%= department.id %>" data-category_id="<%= category.id %>">
                                                                                                                                              <%# if @website.name == 'dixie_store' %>
                                                                                                                                                  <%# if  @website.default_item_departments.include?( department ) %>

                                                                                                                                                  <%# end  %>
                                                                                                                                              <%# end  %>
                                                                                                                                  <%= category.Name %><span style="color:white;"> - <%= category.items.size %>  </span>
                                                                                                                                </a>
                                                                                                                  </div>
                                                                                                <% end %>
                                                                              <% end %>
                                                </div>
                            <% end %>
</div>
















































<% if @t %>



    <script type="text/javascript">
        console.log('render store/department_category_list calls function departmentCategoryList(item_type, department_id, show)' );
        checkCookie();
        <% if  params[:show] %>
        $.cookie('barber_preferences','<%=  params[:show] %>');
        console.log("just set cookie to url parameter based preference: <%=  params[:show] %>") ;
        <% end %>
        departmentCategoryList(  '<%= params[:item_type]   || 'design' %>'  , '<%= params[:department_id] || '0'  %>',  '<%=  params[:show]  ||   'show_designs_for_my_item'  %>'  ) ;
    </script>







    Mobile, tablet, desktops
    <div class="bs-docs-grid">
      <div class="row show-grid">
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
        <div class="col-xs-6 .col-sm-4 .col-md-4">..col-xs-6 .col-sm-4 .col-md-4</div>
      </div>
      <div class="row show-grid">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-4">.col-md-4</div>
      </div>
      <div class="row show-grid">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
      </div>
      <div class="row show-grid">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
      </div>
    </div>
<% end %>



<% if@show_dept %>
    <% @departments.each do |department| %>
        <% department_child_category_ids = []  %>
        <% department.categories.each do |cat| %>
            <% department_child_category_ids << cat.id  %>
        <% end %>
        <% department_child_category_ids = department_child_category_ids.join(',') %>
        <div class="grid_department_div department_<%= department.id %>" data-department_id="<%= department.id %>" data-child_category_ids="<%= department_child_category_ids %>"><%= department.Name %>
          <div class="col-xs-12"> <a href="#" class="grid_department department_<%= department.id %>" data-department_id="<%= department.id %>"><strong><%= department.Name %></strong></a>  </div>
          <% department.categories.sort_by{|x| x.Name}.each do |category| %>
              <div class="col-xs-12 col-md-4 grid_category_div department_<%= department.id %>_category department_<%= department.id %>" style="" data-applicable="0"   data-department_id="<%= department.id %>" data-category_id="<%= category.id %>"><a class="grid_category" href="#"  data-department_id="<%= department.id %>" data-category_id="<%= category.id %>"><%= category.Name %></a></div>
          <% end %>
        </div>
    <% end %>
    </div>
    </div>
<% end %>



<% if @before %>
<script type="text/javascript">
        console.log('begin render store/department inline js');

//    $('#specsheet_table').attr('data-item_type_choice', '<%= params[:item_type] || 'design' %>');

    <% if params[:department_id] %>

//             $(".grid_department_div").hide();
//             $(".department_<%=  params[:department_id] %>").show();
//
//
//             showDepartmentCategories( '<%= params[:department_id] %>' );
//            $('#category_crumb').addClass('current');
//            $("#show_designs_for_my_item").hide();

    <% else %>
//            $('#department_crumb').addClass('current');
//            $('#category_crumb').addClass('disabled');
//            $('#item_crumb').addClass('disabled');
//            $('.grid_category_div').hide();
            <% if params[:any] %>

                    $('#show_button').attr('data-state','show_designs_for_any_item');
                    $('#show_button_text').html(  "Showing designs for <strong>any</strong> item" );
                    $("#show_designs_for_any_item").hide();
            <% else %>
                    updateDepartments();
                    $("#show_designs_for_my_item").hide();
            <% end %>
    <% end %>




    $('#category_crumb').click(function (e) {
        e.preventDefault();
        if ($(this).hasClass('disabled'))
            return false; // Do something else in here if required
        else
            window.location.href = $(this).attr('href');
    });




        console.log('end render store/department inline js');

</script>
 <% end %>

