<%= render :partial => "application/checkout_links"  %>

<p style="text-align: center;"> Select a shipping service:    </p>

<%= link_to  "Edit Zip Code: " + @purchase.ship_to.Zip ,{:controller => "ship_tos",:action => "index"}, {:class => "ui-btn"}  %>
<!--3 or less:<%#  @purchase.three_or_less_shipping_allowed? %> <br>-->


<p style="text-align: center;">Weight in lbs: <%=@purchase.total_weight %></p>
<p style="text-align: center;">Weight in ounces: <%=@purchase.total_weight * 16 %></p>

<ul data-role="listview">
          <li data-role="list-divider"><div style="width: 10%;float:left;">  <%= image_tag '/images/company_logos/ups_logo_small.jpg',:size => "20x20"  %></div><div style="width: 90%;float:left;">UPS Rates</div></li>
            <% if @purchase.ship_to.ups_rates.class == String %>
                                    <li>UPS reported  <%=@purchase.ship_to.ups_rates%> </li>

            <% else %>

                                  <% @purchase.ship_to.ups_rates.each do |the_rate|  %>

                                                                          <li>
                                                                                        <a href="/ship_tos/set_shipping_charge_on_order/<%=  the_rate.service_code %>">
                                                                                                      <div style="width:100%;float:left;white-space: normal;">
                                                                                                                    <div style="width:60%;float:left;white-space: normal;"><%#= the_rate.service_code %>   <%= the_rate.service_name %></div>
                                                                                                                    <div style="text-align: right;width:40%;float:left;white-space: normal;"><%= number_to_currency the_rate.total_price.to_f / 100  %></div>
                                                                                                      </div>
                                                                                        </a>
                                <% end %>
           <% end %>
        <li data-role="list-divider"><div style="width: 10%;float:left;">  <%= image_tag '/images/company_logos/usps_logo_small.jpg',:size => "20x20"  %></div><div style="width: 90%;float:left;">USPS Rates</div> </li>
          <% if @purchase.ship_to.usps_rates.class == String %>
                                        <li>USPS reported  <%=@purchase.ship_to.usps_rates%> </li>
          <% else %>
                                    <% @purchase.ship_to.usps_rates.each do |the_rate|  %>
                                                              <% if the_rate.service_name.match(/(Gift Card Flat|Letter|Small Flat|Window Flat|Medium Flat|Large Flat|Day Flat|Padded Flat|Library|Media|Hold)/)   %>
                                                                  <!--<li>-->
                                                                  <!--<div style="width:100%;float:left;white-space: normal;"> <%#= the_rate.service_name %> - Filtered out</div>-->
                                                                  <!--</li>-->
                                                              <% else %>

                                                                                                                                                                  <li>
                                                                                                                                                                    <a href="/ship_tos/set_shipping_charge_on_order/<%=  the_rate.service_code %>">
                                                                                                                                                                      <div style="width:100%;float:left;white-space: normal;">
                                                                                                                                                                        <div style="width:60%;float:left;white-space: normal;"><%#= the_rate.service_code %>   <%= the_rate.service_name %></div>
                                                                                                                                                                        <div style="text-align: right;width:40%;float:left;white-space: normal;"><%= number_to_currency the_rate.total_price.to_f / 100  %></div>
                                                                                                                                                                      </div>
                                                                                                                                                                    </a>
                                                                                                                                                                  </li>
                                                                <% end %>
                                      <% end %>
            <% end %>
</ul>









