


<%= render "page/home_page_carousels", :feature_name =>  params[:feature_name]%>


<img alt="" style="max-width: 100%;" src="http://cdn.dixieoutfitters.com/images/carousel/featured-items-list.gif" />    <br style="clear:left;"/>




<ul data-role="listview" data-inset="true" class="list-view">
  <% if admin? %>
                      <li style="text-align: center;">Use specsheet administration panel  to add a new featured item.</li>
                      <li> <%= link_to  "Show all features" , "/features" %></li>
  <% end %>
  <% @features.each do |feature| %>

                      <%# if feature.image_name and  feature.image_name  != ""  %>
                                                 <%# the_image_name = feature.image_name  %>
                      <%# else %>
                                                <%# the_image_name = "/images/item_thumbnails/" +  feature.items.first.PictureName  %>
                      <%# end %>


                      <% if admin? %>
                                                          <li>
                                                                            <a href="<%= feature.list_url.to_s %>">
                                                                                              <%#= image_tag  the_image_name  %>
                                                                                              <h2><%= feature.description %></h2>
                                                                            </a>
                                                                            <%= link_to 'Edit', "/features/" +  feature.id.to_s +  "/edit/" +   feature.items.first.id.to_s   , "data-icon" => "gear"   %>
                                                          </li>
                      <% else %>
                                                          <li>
                                                            <a href="<%= feature.list_url.to_s %>">
                                                                                             <%#= image_tag  the_image_name  %>
                                                                                             <%= feature.description %>
                                                            </a>
                                                          </li>
                      <% end %>
  <% end %>
</ul>
