
<% if @item %>

                                <div data-role="header">
                                  <h1>Listing features for <%= @item.ItemLookupCode %> - <%= @item.Description  %></h1>
                                  <p style="text-align: center;"><%= image_tag "/images/item_thumbnails/" + @item.PictureName.gsub(".jpg", "").gsub(".png", "") + ".jpg" %></p>
                                </div>

                                <div data-role="content">
                                <ul data-role="listview">
                                                <li> <%= link_to  "Show all features" , "/features" %></li>
                                                 <li><%= link_to 'New feature', :controller => "features", :action => "new", :item_id => params[:item_id] %></li>
                                                <% @features.each do |feature| %>
                                                                    <li>
                                                                                      <%= link_to feature.name , "/features/"  + feature.id.to_s + "/show/" + params[:item_id]   %>
                                                                                      <%= link_to 'Edit',  feature.id.to_s +  "/edit/" +  params[:item_id]  , "data-icon" => "gear"   %>
                                                                    </li>
                                                <% end %>

                                 </ul>
                                </div>

<% else %>

                                <div data-role="header">
                                  <h1>Listing all unique  Feature names</h1>
                                </div>

                                <div data-role="content">
                                <ul data-role="listview">
                                                <% @features.each do |feature| %>
                                                                    <li>
                                                                                      <%= link_to feature[0]   , "/features/list/" + feature[0]     %>
                                                                                      <%= link_to 'Edit',  'test'   , "data-icon" => "gear"   %>
                                                                    </li>
                                                <% end %>

                                 </ul>
                                </div>
<% end %>



