<h1>Listing Clone Items</h1>

<table>
  <tr>
    <th>Master Item: Item Lookup Code</th>
    <th>This clone  item_id</th>
    <th>Clone item type</th>
    <th>Status</th>
  </tr>

<% @clone_items.each do |clone_item| %>
  <tr>
     <td><%=h clone_item.item.ItemLookupCode  %></td>
    <td><%=h clone_item.item_id %></td>
    <td><%=h clone_item.clone_item_type.name  %></td>
    <td><%= link_to 'Show', clone_item %></td>
    <td><%= link_to 'Edit', edit_clone_item_path(clone_item) %></td>
    <td><%= link_to 'Destroy', clone_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New clone_item', new_clone_item_path %>