<h1>New Cloned Item</h1>

<%= form_for(@clone_item) do |f| %>
  <%= f.error_messages %>

  <p>

    <%=  select( [] , "clone_item_type_id", CloneItemType.all.collect {|p| [ p.name , p.id.to_s ] } ,{:selected =>  params[:clone_type_id]  }   )   %>   Clone Type<br />
  </p>
  <p>
   Item Id of RP design<br />
    <%= text_field_tag :item_id,  params[:item_id]  %>
  </p>
  <p>
       <%=  select( [] , "status_id", Status.all.collect {|p| [ p.name , p.id ] } )   %>   Current Status<br /><br />

  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', clone_items_path %>

