<%= javascript_include_tag 'proto.menu.js'  %>
<%= stylesheet_link_tag 'designer_specsheet.proto.menu.css'  %>

<div  id="custom_items"  class="custom_items"  style="display:none;text-align: center;">
                          <%= error_messages_for :custom_item if @rails_2_code %>

                            <%= render :partial => 'custom_items/upload_form_iframe' %>

                           <div style="font-size:18px;">Listing Your Custom Items   <span style="color:red;font-size:16px;">Click on any image for choices. </span></div>

                           <%= render :partial => "custom_items/size_controls"  if @show_size_controls  %>

                            <%= render :partial => "designer_specsheet/custom_items_container" %>
 
</div>


