<div data-role="header">
  <h1> Sublimation order # <%= @sublimation_entry.purchase_id %> details </h1>
  <h2> Number of individual designs: <%= @sublimation_entries.size %>  </h2>
</div>
 <br>

<ul data-role="listview" data-inset="false">

  <li data-role="list-divider"> Options</li>
  <li><%= link_to  "Back to Orders list" , "/image_manager"  %></li>
  <li><%= link_to  "Print entire order" , "/image_manager/print_all/" +  params[:purchase_id]  , data: { confirm: 'Are you sure this order is ready to print?' }  %> </li>
  <li data-role="list-divider"> </li>
</ul>
<br>

  <ul data-role="listview" data-inset="false" data-filter="true" >

                                <li data-role="list-divider"><%= @all_over_sublimation_entries.size %> All Over T's</li>
                                <% @all_over_sublimation_entries.each do |entry| %>
                                                        <li>
                                                          <a href="#">
                                                            <%= image_tag   "http://dixieoutfitters.com/images/item_thumbnails/" +  entry.PictureName  %>
                                                            <h2>  <%= entry.ItemLookupCode %> - <%= entry.QuantityOnOrder %> - <%= entry.Description %></h2>
                                                          </a>
                                                          <%= link_to 'Edit',   "#"   , "data-icon" => "gear"   %>
                                                        </li>
                                <% end if @all_over_sublimation_entries%>


                                 <li data-role="list-divider"><%= @full_front_sublimation_entries.size %>  Huge front designs</li>
                                  <% @full_front_sublimation_entries.each do |entry| %>
                                                <li>
                                                          <a href="#">
                                                                    <%= image_tag   "http://dixieoutfitters.com/images/item_thumbnails/" +  entry.PictureName  %>
                                                                    <h2>  <%= entry.ItemLookupCode %> -  <%= entry.QuantityOnOrder %> -  <%= entry.Description %></h2>
                                                          </a>
                                                          <%= link_to 'Edit',   "#"   , "data-icon" => "gear"   %>
                                                 </li>
                                    <% end if @full_front_sublimation_entries %>


                                 <li data-role="list-divider"> <%= @regular_transfer_sublimation_entries.size %>  Regular transfers as sublimation </li>
                                 <% @regular_transfer_sublimation_entries.each do |entry| %>
                                                <li>
                                                              <a href="#">
                                                                        <%= image_tag   "http://dixieoutfitters.com/images/item_thumbnails/" +  entry.PictureName  %>
                                                                        <h2>  <%= entry.ItemLookupCode %> -  <%= entry.QuantityOnOrder %> -  <%= entry.Description %>
                                                                          - <%= entry.Comment %>
                                                                        </h2>
                                                              </a>
                                                              <%= link_to 'Edit',   "#"   , "data-icon" => "gear"   %>
                                                </li>
                                  <% end if @regular_transfer_sublimation_entries%>



                                   <li data-role="list-divider"><%= @custom_sublimation_entries.size %>  Custom sublimation  jobs </li>
                                 <% @custom_sublimation_entries.each do |entry| %>
                                                    <li>
                                                                      <a href="#">
                                                                                        <%= image_tag   "http://dixieoutfitters.com/images/item_thumbnails/custom.gif" %>
                                                                                        <h2>  <%= entry.ItemLookupCode %> -  <%= entry.QuantityOnOrder %> -  <%= entry.Description %>
                                                                                          - <%= entry.Comment %></h2>
                                                                      </a>
                                                                        <%= link_to 'Edit',   "#"   , "data-icon" => "gear"   %>
                                                    </li>
                                   <% end if @custom_sublimation_entries %>
  </ul>



