<div data-role="header">
  <h1> Sublimation order # <%= @sublimation_entry.purchase_id %> details </h1>
  <h2> Number of individual designs: <%= @sublimation_entries.size %>  </h2>
</div>
 <br>

<ul data-role="listview" data-inset="false">

  <li data-role="list-divider"> Options</li>
  <li><%= link_to  "Back to Orders list" , "/image_manager"  %></li>
  <li><%= link_to  "Print entire order" , "/image_manager/print_all/" +  params[:purchase_id]  , data: { confirm: 'Are you sure this order is ready to print?' }  %> </li>
  <li data-role="list-divider"> </li>
</ul>
      <br>

  <ul data-role="listview" data-inset="false" data-filter="true" >

                    <li data-role="list-divider"> All Over T's</li>
                    <% @sublimation_entries.where("name = ?", "all_over_item").each do |entry| %>
                                            <li>
                                              <a href="#">
                                                <%= image_tag   "http://dixieoutfitters.com/images/item_thumbnails/" +  entry.PictureName  %>
                                                <h2>  <%= entry.ItemLookupCode %> - <%= entry.QuantityOnOrder %> - <%= entry.Description %></h2>
                                              </a>
                                              <%= link_to 'Edit',   "#"   , "data-icon" => "gear"   %>
                                            </li>
                    <% end %>

                    <li data-role="list-divider"> Huge front designs</li>
                    <% @sublimation_entries.order("ItemLookupCode ASC").where("name = ?", "huge_front").each do |entry| %>
                        <li>
                          <a href="#">
                            <%= image_tag   "http://dixieoutfitters.com/images/item_thumbnails/" +  entry.PictureName  %>
                            <h2>  <%= entry.ItemLookupCode %> -  <%= entry.QuantityOnOrder %> -  <%= entry.Description %></h2>
                          </a>
                          <%= link_to 'Edit',   "#"   , "data-icon" => "gear"   %>
                        </li>
                    <% end %>


  </ul>



