<h1>Listing Commisions</h1>

<table>
  <tr>
    <th>AccountNumber</th>
    <th>LastName</th>
    <th>FirstName</th>
     <th>Email</th>
  </tr>

<% @commisioned_artists.each do |artist|  %>
  <tr>
    <td><%=h artist.AccountNumber  %></td>
    <td><%=h artist.LastName %></td>
    <td><%=h artist.FirstName %></td>
    <td><%=h artist.EmailAddress %></td>
     <td><%= link_to 'Show', :controller => "reports", :action => "show_commissions", :customer_id => artist.id  %></td>
  </tr>
  
  
  
  
  
  
  
<% end %>
</table>

<br />

<%= link_to 'Back', reports_path %>
