<div class="dropdown_div">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Items<b class="caret"></b></a>
          <ul class="dropdown-menu items_menu">
                        <% @website.default_item_departments.sort_by{|a| a.position || 0}.each do |department| %>
                                    <% if ['1','2','3','4','5','6','7','8','9'].include?(department.id.to_s) %>
                                    <% department_child_category_ids = []  %>
                                    <% department.categories.each do |cat| %>
                                        <% department_child_category_ids << cat.id  %>
                                    <% end %>
                                    <% department_child_category_ids = department_child_category_ids.join(',') %>
                                    <li data-department_id="<%= department.id %>" data-child_category_ids="<%= department_child_category_ids %>"><a data-toggle="modal" href="" data-href="/store/department/<%= department.id %>?item_type=item" data-target="#myModal"><%= department.Name %></a></li>
                                    <% end %>
                        <% end %>
                        <li class="nav-header">Other Products</li>
                        <% @website.default_item_departments.each do |department| %>
                                    <% if !['1','2','3','4','5','6','7','8','9'].include?(department.id.to_s) %>
                                    <% department_child_category_ids = []  %>
                                    <% department.categories.each do |cat| %>
                                        <% department_child_category_ids << cat.id  %>
                                    <% end %>
                                    <% department_child_category_ids = department_child_category_ids.join(',') %>
                                    <li data-department_id="<%= department.id %>" data-child_category_ids="<%= department_child_category_ids %>"><a data-toggle="modal" href="" data-href="/store/department/<%= department.id %>?item_type=item" data-target="#myModal"><%= department.Name %></a></li>
                                    <% end %>
                        <% end %>
            </ul>
</div>