<!doctype html>
<html lang="en">

<%= render :partial => "layout_elements/head"    %>


<script>
    //    $.ajaxSetup ({
    //// Disable caching of AJAX responses
    //        cache: false
    //    });
    $.mobile.ajaxEnabled = false;
</script>




<div data-dialog="true"  data-role="page"   id="<%= controller_name + "_" + action_name %>" class="<%= controller_name + "_" + action_name %> application"  data-dom-cache="false">

  <% unless controller_name == 'purchases' %>
      <%#= render :partial => "layout_elements/panels"  %>
      <%#= render :partial => "layout_elements/header"    %>
      <div data-role="header" role="banner" class="ui-header"><div>
  <% end %>

  <!--   #######################  BEGIN  CONTENT  ####################### -->
  <!--   #######################  BEGIN  CONTENT  ####################### -->
  <!--   #######################  BEGIN  CONTENT  ####################### -->
  <!--   #######################  BEGIN  CONTENT  ####################### -->
  <!--   #######################  BEGIN  CONTENT  ####################### -->
  <div data-role="content" data-theme="a">

    <% if request.path  == '/purchases/checkout_review' or  request.path  == '/purchases/checkout_receipt' %>
        <%  @show_class = "show_printable" %>
    <% elsif controller_name  == 'page' or @articles %>
        <%  @show_class = "show_page"  %>
    <% elsif controller_name  == 'specsheet' %>
        <%  @show_class = "show_specsheet" %>
    <% else %>
        <% @show_class = "show" %>
    <% end %>


    <div id="the_yield" style="margin-left:auto;margin-right:auto;">
      <div class="<%=  @show_class %> yield">



        <% if flash and  flash[:notice].kind_of?(Array) %>
            <%  flash[:notice] =  flash[:notice].flatten %>
        <% end %>
        <% if flash %>
            <% if flash[:notice].nil? or flash[:notice] == []   -%>
                <% logger.debug("flash is nil!")    %>
            <% else %>
                <% logger.debug("flash is:" + flash[:notice].inspect )    %>
                <div class="ui-bar ui-bar-a">
                  <h3 style="margin-top: 8px; float: left;">Attention: </h3>
                  <div style="margin-top: 4px; float: right;">
                    <% if @close_button %>   <a title="Button" href="#" data-role="button" data-theme="e" data-iconpos="notext" data-icon="delete">Button</a><% end %>
                  </div>
                  <p style="clear: both; font-size: 85%; margin-bottom: 8px;"><%=  flash[:notice] %></p>
                </div>
            <% end -%>
        <% end -%>




        <%= javascript_include_tag    "initiate_functions" %>

        <%= yield %>
      </div>
    </div>
  </div>
  <!--   #######################  END CONTENT    ####################### -->
  <!--   #######################  END CONTENT    ####################### -->
  <!--   #######################  END CONTENT    ####################### -->
  <!--   #######################  END CONTENT    ####################### -->
  <!--   #######################  END CONTENT    ####################### -->

  <%#= render :partial => "layout_elements/footer"    %>
</div><!-- page -->

</html>


<!--<script src="/assets/hide_fixed_toolbars.js"></script>-->
<!--<script src="/assets/rails.js"></script>-->
<!--<script src="/assets/store_administration.js"></script>-->
<%#= stylesheet_link_tag '/assets/development/guides'    if @guides %>

<%= render "layout_elements/render_information"    %>























